[2013-07-09 04:39] kevinsawicki opened #1 "Add rebuild command"
This should be kicked off by the atom build when atom-shell is upgraded to recompile native modules against the latest headers.

[2013-07-09 20:07] #1 closed, assigned to kevinsawicki

[2013-08-28 16:49] probablycorey opened #4 "Add `apm develop`"
Clone the package to ~/github
Link to ~/.atom/dev/packages
Add option to clone and link all atom packages from ~/github/atom/package.json

[2013-08-28 18:49] #4 closed, assigned to nobody

[2013-08-28 19:11] kevinsawicki opened #5 "Add apm test"
Runs the specs from the current package in a window and then quits

[2013-09-04 16:15] kevinsawicki opened #7 "Extract atom package classes from atom repo"
apm should be the home of things like `AtomPackage`, `Package`, and much of the package related code in the `atom` global.  These currently still sit in the `atom/atom` repository.  Also there is a `PackageManager` class in atom/settings-view that should probably be pulled in as well into apm.

Pull these out once atom/atom#775, atom/atom#778, and atom/atom#787 land.

[2013-09-05 22:32] kevinsawicki opened #9 "Add help messages for all commands"

[2013-09-08 10:27] #9 closed, assigned to nobody

[2013-09-26 16:23] kevinsawicki opened #12 "Recurse into sub-node_modules folders when cleaning"
Make sure no package anywhere in the dependency tree is referencing top-level modules before cleaning them out.

[2013-09-30 15:41] kevinsawicki opened #13 "Update package template"
Needs a `package.json` instead of `package.cson` and should have more default fields such as name, version, description, etc.

[2013-09-30 16:50] mcolyer opened #14 "Update theme template"
We should provide a basic set of selectors and use less variables for easy customization (like solarized-dark-syntax).

I think this will solve the majority case where users would like to select different colors but without learning all of our TM grammar syntax classes.

[2013-09-30 20:43] kevinsawicki opened #15 "Add theme flag to available command"
Allow available output that contains only themes in it.

[2013-10-02 20:36] #13 closed, assigned to nobody

[2013-10-03 22:20] benogle opened #19 "Options is not defined"
Tried to publish. No worky with master!

![screen shot 2013-10-03 at 3 18 48 pm](https://f.cloud.github.com/assets/69169/1265963/e7325c86-2c79-11e3-9739-2b44c518c0ff.png)

[2013-10-03 22:34] #19 closed, assigned to nobody

[2013-10-07 16:31] mcolyer opened #20 "`apm test` isn't picking up return code correctly"
It reports tests as passing when they fail, not sure why yet.

[2013-10-07 21:30] #20 closed, assigned to mcolyer

[2013-10-10 18:06] probablycorey opened #21 "`apm dev` should let you know if the current cloned directory is not on origin/master"
Example:

I have `fuzzy-finder` checked out, but it is WAY behind. In fact, I forgot I even had it installed locally.

So when I run `apm dev fuzzy-finder` I expect it to be using the most recent version. It might be too aggressive or complicated to force update fuzzy-finder. But it would be nice if it had a warning that it wasn't on origin/master

[2013-10-10 22:35] kevinsawicki opened #22 "Push tag/master with apm publish"
Very common flow

[2013-10-15 17:33] thedaniel opened #23 "Use atom.io API rather than couch."
Auth:

Currently the atom.io package API accepts a valid GH OAuth token in the Authorization header. We store this in the keychain (right?) when a user signs in with Atom, and can use that when shelling out to APM there. What about when running e.g. apm publish from the CLI? Check the keychain for an oauth token and then direct the user to sign in with Atom if it's not present?

Fetching:

This sh

[2013-10-15 20:42] #12 closed, assigned to kevinsawicki

[2013-10-22 19:55] #22 closed, assigned to kevinsawicki

[2013-10-22 19:55] #23 closed, assigned to nobody

[2013-10-22 20:00] #5 closed, assigned to nobody

[2013-10-24 16:47] kevinsawicki opened #25 "Stop using npm fork"
Now that we are on releases instead of :cloud: :ant: we can stop using our custom npm fork that supports multiple registries

[2013-10-28 00:46] zcbenz opened #26 "Symbol links on Windows"
On Windows though it's possible to create symbols links, but it requires the Administrator privilege to do that, or at least requires the Administrator user to grant the permission to normal users, and it's hard to get it right:
http://superuser.com/questions/124679/how-do-i-create-a-link-in-windows-7-home-premium-as-a-regular-user

Maybe we could create file shortcuts instead of symbol links on W

[2013-10-29 16:22] #26 closed, assigned to nobody

[2013-10-29 16:22] #14 closed, assigned to nobody

[2013-10-29 16:24] mcolyer opened #28 "Windows doesn't have a `security` command"
Moving this from atom/atom#1035

So we currently reference the `security` command here `src/auth.coffee`

@zcbenz has opened https://github.com/atom/node-keytar/pull/3, so we can replace `security -q find-generic-password -ws 'GitHub API Token'` with `require('keytar').findPasswordForService('GitHub API Token')`

On Windows ideally we should be able to get the access token from GitHub's Windows cl

[2013-10-29 16:41] probablycorey opened #29 "apm dev prefers npm modules over atom packages"
If I type `apm dev autosave` it downloads the autosave node module instead of the autosave atom package.

[2013-10-30 22:50] #29 closed, assigned to kevinsawicki

[2013-11-01 16:45] grantr opened #31 ""repetition" is spelled wrong"
It should be fixed when the language repos are fixed. Here's all the places it's misspelled: https://github.com/search?q=repitition+user%3Aatom&ref=searchresults&type=Code

ref https://github.com/atom/language-ruby/issues/1

[2013-11-04 23:29] gjtorikian opened #32 "Make me a .gitignore on `apm init`"
Because come on I am lazy.

https://github.com/github/gitignore/blob/master/Node.gitignore

[2013-11-15 22:00] #25 closed, assigned to kevinsawicki

[2013-11-15 22:09] #32 closed, assigned to kevinsawicki

[2013-11-15 22:26] #15 closed, assigned to kevinsawicki

[2013-11-18 21:52] benogle opened #33 "Should allow for login if the token from keychain is not found"
Rather than just die if the `GitHub API Token` keychain token is not found, it should ask you to login to your github acct, and store the token in the `GitHub API Token`.

[2013-11-20 19:04] probablycorey opened #35 "Remove access to keychain"
I think the only reason APM needs a token from the keychain is because Atom.io and the Atom org are private. All other operations can be done via git and the command line (like [publish](https://github.com/atom/apm/blob/master/src/publish.coffee#L62) is).

If we hardcode a token into APM until we release it would solve the problems like @benogle was having in #33.

[2013-11-26 02:36] jbarnette opened #36 "Package template keymap is busted"
https://github.com/atom/apm/blob/cdfc4ffd019c61cfece2dafb7a9a12ea01bdb520/templates/package/keymaps/__package-name__.cson.template

I think the problem is that it's using `meta` and it looks like keymaps are headed in a more OS-specific direction. I was going to PR something up, but I realized I had no idea what we want to teach people in this example file.

[2013-12-02 19:51] #36 closed, assigned to nobody

[2013-12-03 06:21] gjtorikian opened #38 "Can't create new packages"
[code]

[2013-12-03 19:07] #38 closed, assigned to nobody

[2013-12-16 19:24] kevinsawicki opened #40 "Add unpublish command"

[2013-12-16 23:09] #40 closed, assigned to kevinsawicki

[2013-12-17 00:19] probablycorey opened #41 "`apm init` creates a .npmignore but no .gitignore"
If you run `apm init --package something` a .npmignore file is created but no .gitignore file. This is odd because in apm's template directory there is a .gitignore file but no .npmignore file.

[2013-12-17 00:39] #41 closed, assigned to kevinsawicki

[2013-12-18 01:53] #28 closed, assigned to nobody

[2014-01-04 01:13] #35 closed, assigned to nobody

[2014-01-13 04:08] kevinsawicki opened #45 "Add dedupe command"

[2014-01-13 17:16] #33 closed, assigned to nobody

[2014-01-13 17:17] #45 closed, assigned to nobody

[2014-01-28 16:27] kevinsawicki opened #47 "Precompile during publish"
We should precompile `.coffee` and `.cson` files when publishing for a faster experience when people install packages.

[2014-02-05 20:43] kevinsawicki opened #49 "Add upgrade command"
Upgrades all out of date packages

[2014-02-18 20:34] kevinsawicki opened #50 "Check repo exists and is pushed before publishing"

[2014-02-19 19:45] #50 closed, assigned to nobody

[2014-02-20 18:23] kevinsawicki opened #51 "Check for tag via api before publishing to atom.io"
Make sure the tag is available from the GitHub API before telling atom.io about the new release.

[2014-02-20 20:26] kevinsawicki opened #52 "Convert TextMate snippets during --init"
This will allows the snippets package to expect only a single snippet format and make all snippets consistent.

[2014-02-21 02:28] #51 closed, assigned to nobody

[2014-02-23 22:15] kevinsawicki opened #53 "Login fails if token already exists"
Duplicate notes are no longer allowed:

[code]

[2014-02-24 17:39] #52 closed, assigned to nobody

[2014-02-24 17:47] #53 closed, assigned to nobody

[2014-02-27 18:27] kevinsawicki opened #54 "apm login does not send sms code"

[2014-02-27 18:52] #54 closed, assigned to nobody

[2014-02-27 19:12] kevinsawicki opened #55 "Report uncaught exceptions to bugsnag"

[2014-02-27 21:57] jglovier opened #56 "`apm publish minor` fails randomly-ish"
So I've noticed `apm publish minor` seems to randomly fail every other try or so with error message `Git tag not found`? Re-running seems to usually just work the next time.

Here's the last several tries from my editor, about half of which failed:

[code]

`apm -v` shows I'm on `0.10.0`

[2014-02-28 22:38] bnferguson opened #59 "apm help publish references command that doesn't exist?"
From: support/900c86069f8411e38436c4102e33f055

[2014-02-28 22:47] #59 closed, assigned to kevinsawicki

[2014-02-28 23:13] nathansobo opened #60 "Generate a default wrap guide background-color when converting TextMate themes"
See atom/atom-dark-ui#15

[2014-03-01 18:00] benogle opened #61 "Hard to contribute to apm develop'd repos"
What's the story for actually contributing to a 3rd party package installed via `apm develop`? It just clones from the repo url, but doesn't make a fork. This works for us, but not those without commit bit. Could it fork and clone?

We should at least have some docs on how we think they should do it (fork, then change the origin after apm develop?)

http://discuss.atom.io/t/submitting-a-pull-reque

[2014-03-02 21:30] technoweenie opened #62 "module version mismatch"
I get this when running `apm`:

[code]

I'm on Atom v0.64.0, and ran the install cli tools command.

[2014-03-03 20:42] mojombo opened #63 "Prevent publishing if source repo is private"
I published a private repo to apm today and apm reported everything as a-ok. I could even see my package on atom.io. Then when someone tried to install it, it failed because my repo was private. It would be rad if apm would prevent me from publishing if the source repo is private.

[2014-03-03 22:04] #63 closed, assigned to nobody

[2014-03-04 17:31] #62 closed, assigned to nobody

[2014-03-04 22:38] #49 closed, assigned to kevinsawicki

[2014-03-06 04:25] probablycorey opened #67 "APM search could be improved"
From a [halp ticket](https://halp.githubapp.com/inboxes/atom/discussions/add2a0e8a1fb11e394fd0a1f17d2d280?page=1)

[code]

[2014-03-06 16:32] #67 closed, assigned to nobody

[2014-03-06 16:35] nathansobo opened #68 "Discourage atom- package prefixes"
Interesting suggestion via email: The guy suggests disallowing `atom-` package name prefixes. I think a gentle message could be a better choice.

Feel free to close this issue, but thought it was a good enough idea to warrant one.

[2014-03-06 17:10] kevinsawicki opened #69 "Output repository on publish fail"

[2014-03-07 18:47] benogle opened #72 "Encourage a changelog in packages"
I dont know where to put this, so it's near the package stuff.

Whenever I see a new update to a package, I want to know wtf changed. So now, my process is to head to the repo and look through the commits between 'prepare x.x.x' commits. Not ideal.

How would you feel about encouraging a CHANGELOG.md with a specific format, and parsing/displaying it in the settings? It's manual for them, but we co

[2014-03-07 23:31] #7 closed, assigned to nobody

[2014-03-11 01:05] benogle opened #73 "Renaming packages"
Do we have a nice way to rename a package so that it doesnt break for current installs? I really want to tell people to rename their syntax themes (and rename a couple of ours, mac-ui, base16-tomorrow-dark, monokai). Also if folks want to rename for any other reason, it seems they cant.

`apm mv`? `apm rename`??

[2014-03-11 01:09] benogle opened #74 "Deprecating packages"
What's the story for deprecating a package? Say I am no longer developing my package, and I want to point to someone else's package.

The easiest thing is obviously putting something in the readme that points to another package. But deprecation would not be shown in the settings view unless the readme button were explicitly clicked.

[2014-03-13 18:37] kevinsawicki opened #75 "Use mdfind to find location to Atom.app"
Currently assumes /Applications/Atom.app

[2014-03-20 21:51] thedaniel opened #78 "`grunt prepublish` fails on my linux box"
[code]

[2014-03-21 15:34] #60 closed, assigned to nobody

[2014-03-21 15:38] #69 closed, assigned to nobody

[2014-03-27 08:49] #78 closed, assigned to nobody

[2014-03-31 20:48] thedaniel opened #80 "Atom token auth support"
For [various reasons](https://github.com/github/atom.io/issues/312), we need to discontinue the use of a GitHub OAuth
token with the Atom.io API. This is a little awkward as there are a number of
moving parts: The atom.io site/account page, the API, apm, and Atom's apm integration.

Here's one way we could do this, feedback requested:
- [x] Finish up [the branch with the atom.io account page](http

[2014-04-02 00:55] #75 closed, assigned to nobody

[2014-04-11 19:59] izuzak opened #83 "apm init --theme --convert doesn't work for files with spaces in name"
Halp ticket:
- support/9f3a7a7ebebb11e383c173e0a61e0839

[code]

Just gave this a try and got the same error.

[2014-04-15 13:08] izuzak opened #84 "Document the ATOM_REPOS_HOME environment variable"
Halp ticket
- support/f937adc0c49311e3845a074995cf1062

[2014-04-16 17:53] #83 closed, assigned to kevinsawicki

[2014-04-16 17:53] #84 closed, assigned to kevinsawicki

[2014-04-22 12:43] izuzak opened #85 "Published packages for which repositories are unavailable are confusing"
Via email:

I see his point, and wonder if search results could exclude packages which cannot be installed if the package's repository doesn't exist currently (or is unavailable for whatever reason).

[2014-04-24 20:42] #80 closed, assigned to nobody

[2014-04-25 17:45] kevinsawicki opened #86 "Add outdated command"
https://github.com/atom/settings-view/issues/114

[2014-04-28 18:51] #86 closed, assigned to kevinsawicki

[2014-04-30 18:39] #56 closed, assigned to nobody

[2014-05-03 15:46] bahlo opened #90 "Bundle"
What do you think about a command like `apm bundle` which installs all packages listed in an  `Atomfile`?

I'm willing to implement this, I just wanted to check if that's what you want or if you have other plans.

Here's my current workaround: [apm_bundle.sh](https://gist.github.com/bahlo/9660970).

[2014-05-06 15:30] luto opened #91 "crash while installing when TMPDIR is on another device"
The install-process fails if `TMPDIR` is on another device. Is is because `fs.rename` does not support renaming cross-device. [SO suggests](http://stackoverflow.com/questions/21071303/node-js-exdev-rename-error) to use the [`mv`-module](https://www.npmjs.org/package/mv).

Relevant line of code: [download-node.js#L32](https://github.com/atom/apm/blob/1b977f80176abaa742af791f72e1b15ec604bfcb/script/

[2014-05-06 16:14] #91 closed, assigned to nobody

[2014-05-06 16:55] Navgeet opened #93 "can't npm install if /tmp is located on another partition"
npm install atom-package-manager throws:

[code]

This happens because I'm trying to install this in my home dir which is on a different partition than /tmp. A lot of developers have a similar setup. This makes it quite hard to install atom.

[2014-05-06 16:55] #93 closed, assigned to nobody

[2014-05-06 17:14] TheNeikos opened #95 "Build Fails on ArchLinux due to Python version mismatch"
While I am aware that Atom does not seem to officially support ArchLinux I am certain that it should be able to be used on it.

The build fails due to node-gyp expecting Python 2.7, but ArchLinux has switch it's default version to python 3.

This could be fixed by providing the `--python` argument to node-gyp on build.

Taken from here:

https://github.com/TooTallNate/node-gyp#installation

I am n

[2014-05-06 17:19] TheNeikos opened #96 "bin/apm clean fails due to missinx execute flag"
[code]

This error is due to the missing +x flag on the node binary (the one in the node_modules folder)

[2014-05-06 17:21] #96 closed, assigned to nobody

[2014-05-06 17:59] piranna opened #97 "Differences between apm and npm"
Or, why apm was build instead of using/extending npm environment? Are they both compatible? How? Up to wath point?

I think this kind of questions would be included in a faq or on the project readme...

[2014-05-07 17:52] yodasw16 opened #103 "UNABLE_TO_VERIFY_LEAF_SIGNATURE"
I am behind a work proxy which causes me to get this error when I try to view packages. I've had the same error in the past when using npm or Bower. For npm I am able to do `npm config set strict-ssl false` on the command line to make it stop checking ssl certs. Similarly for Bower I can set strict-ssl to false in a bower.rc file. It would be cool if there were a way to disable checking ssl certs

[2014-05-09 20:55] ceeeKay opened #105 "script/download-node.js doesn't check http_proxy environment variable"
The below patch resolves this on Linux.

[code]

[2014-05-09 21:01] ceeeKay opened #106 "apm not respecting git config --global url."https://".insteadOf git://"
Attempting to build Atom on a system behind a firewall that doesn't allow the git:// protocol out.

My ~/.gitconfig contains
[code]

As far as I can tell this seems to be an apm issue, but I'm not sure if it could be in atom or npm code (the lines are unclear to me).

[code]

[2014-05-10 12:40] ghost opened #107 "Unable to publish atom theme"
Hello there, I am getting an error message -  `Registering package in atom/downloads repository failed: That repo does not exist, isn't an atom package, or you do not have access` - when I try to publish my theme using the command `apm publish minor`. What is the reason for this?

[2014-05-13 00:53] dyross opened #109 "Allow running a specific spec instead of entire suite"
When developing packages, you can run `$ apm test` to run the tests without launching the app. It should be possible to specify specific tests for quick iterations.

If it is possible, perhaps it could be better documented :tada:

[2014-05-16 15:50] #109 closed, assigned to nobody

[2014-05-16 15:56] #105 closed, assigned to nobody

[2014-05-16 16:00] lee-dohm opened #111 "apm install --silent parameter isn't respected"
[code]

Perhaps `--quiet` is respected, but I would expect `--silent` to not give _any_ output, just a return code.

[2014-05-16 16:23] #103 closed, assigned to kevinsawicki

[2014-05-19 11:59] jh3y opened #112 "multiple package installs in one like npm"
Hey,

This might have come up before or maybe I am missing something but it would be nice to be able to install multiple packages at once like;

[code]

instead of having to run each one at a time.

This is available in `npm` and can save a lot of time for people if they have various packages installed. Also it means you could store what you have installed in a config file so that if you set up a

[2014-05-20 18:41] #97 closed, assigned to nobody

[2014-05-22 18:04] #112 closed, assigned to kevinsawicki

[2014-05-25 21:11] Cirex opened #116 "apm publish on Windows"
It is throwing an error about not being a Git repository because it's trying to compare forward slashes and back slashes.

Line 244 of **src/publish.coffee**
- `repo.getWorkingDirectory`  outputs `c:/users/.../.atom/packages/...`
- `currentDirectory` outputs `c:\users\...\.atom\packages\...`

[2014-05-27 17:34] #116 closed, assigned to kevinsawicki

[2014-05-28 03:25] #107 closed, assigned to nobody

[2014-05-28 18:06] kevinsawicki opened #117 "Add stars support"
:star: :star2: :star:
- Listing
- Installing
- Starring
- Unstarring

:star: :star2: :star:

[2014-05-28 18:11] kevinsawicki opened #118 "Don't sort search results by name"
They are weighted by relevance

[2014-05-28 20:06] #118 closed, assigned to nobody

[2014-05-31 20:02] lijunle opened #120 "Why apm install the packageDependencies to node_module folder?"
The `apm install` [says](https://github.com/atom/apm/blob/master/src/install.coffee#L33):

Why this is by design?

I am writing some specs for an atom package, which is dependent on another package. So, I write the dependent package's name on the `packageDependencies` list, then use the Travis CI config provided by [Atom/CI](https://github.com/atom/ci) to run the specs.

After push the commit, Tra

[2014-06-02 22:15] ilanbiala opened #121 "Allow sorting of package search"
When I search for [something](https://atom.io/packages/search?q=indent), sometimes it's nice to know what's big and really popular based on a couple things:
- Date updated
- Date published
- Stars
- Downloads

This way, I can look at the top 5 most developed packages and pick which one I like and not have to go through a couple pages. I'm not sure if this is the right place for this suggestion, bu

[2014-06-04 16:24] kevinsawicki opened #122 "apm test not working on Windows"
Tried on Windows 8.1 on the symbols-view package

![screen shot 2014-06-04 at 9 24 07 am](https://cloud.githubusercontent.com/assets/671378/3176365/b298cb5e-ec04-11e3-80c0-4d7e39dc76f7.png)

[2014-06-04 18:44] #122 closed, assigned to nobody

[2014-06-05 23:19] #31 closed, assigned to nobody

[2014-06-06 15:43] #117 closed, assigned to nobody

[2014-06-10 16:52] kevinsawicki opened #128 "Add compatible flag to stars command"
Similar to how `apm featured` works.

[2014-06-12 23:41] #128 closed, assigned to nobody

[2014-06-12 23:42] #95 closed, assigned to nobody

[2014-06-13 04:22] kevinsawicki opened #130 "Add command to star all installed packages"
This would help get your stars going by starring everything you've already installed.

[2014-06-13 05:01] kevinsawicki opened #131 "Fail graciously when visual studio isn't installed"
Currently `apm install` fails if you don't have visual studio installed on Windows, even when you are installing a package that has no native dependencies.

Instead installing packages should be attempted and if they fail with a `node-gyp` error a message telling them to install Visual Studio should be shown.

[2014-06-17 20:00] flannelhead opened #133 "Dependency symlinks broken - pointing to /tmp"
When I install a package with dependencies (for example Linter Csslint, with csslint as a dependency), apm pulls the dependency and installs it in my home directory under `.atom/packages/<package name>/node_modules/<dependecy name>`. There's also a folder `.bin` under the node_modules directory, containing symlinks to the installed dependency binaries. However, after installation, this symlink act

[2014-06-18 20:53] #133 closed, assigned to kevinsawicki

[2014-06-21 16:06] seifsallam opened #135 "Publishing with 2-factor authentication account"
My github account uses 2-factor authentication. When i tried to publish a package it returned wrong wrong username or password. But when i removed 2-factor authentication from github publishing worked.

Is there a way to get apm to work with github 2-factor authentication, or plans to support this soon?

[2014-06-22 05:30] s-shin opened #136 "Escaping issue in converting snippets of textmate language bundle."
Backslash to escape "$" is also escaped.

For example,

[code]

(https://github.com/textmate/perl.tmbundle/blob/master/Snippets/for.plist)

is converted to

[code]

(https://github.com/atom/language-perl/blob/master/snippets/language-perl.cson)

but it is expected that `\$${1:var}` is converted to `\$${1:var}` or `$${1:var}`, not `\\$${1:var}`.

[2014-06-23 07:52] #135 closed, assigned to nobody

[2014-06-25 18:53] justinwoo opened #137 "apm link does not install deps first"
Why doesn't running `apm link` trigger an `install` first? I've run into this a couple of times while `npm link` installs my deps before linking.

Of course, running `apm install` after the fact still works, so this is really more of a feature request/general question.

[2014-06-30 00:37] Azeirah opened #138 "apm publish fails, Error communicating with gnome-keyring-daemon"
I tried publishing my first package, then I got this error:

Terminal command: `apm publish major`
Using `sudo` doesn't work either.

Error communicating with gnome-keyring-daemon

Full log:

[code]

I use Ubuntu 14.04 LTS, 64-bit

[2014-06-30 06:19] anomaly256 opened #139 "0.69.0 installs with wrong permissions on bin/apm"
Hi, after pulling the atom repo today and rebuilding, I noticed that /usr/local/share/atom/resources/app/apm/node_modules/atom-package-manager/bin/apm now installs with no read permission for 'other', preventing atom from checking for updated packages when opening the preferences pane and viewing the packages section by any user other than root.

[code]

[code]

and, thus,

[code]

[2014-07-02 16:31] kevinsawicki opened #140 "Add command to output visual studio version"
To help with debugging and using the from the settings view.

[2014-07-02 17:19] #140 closed, assigned to nobody

[2014-07-02 18:51] #131 closed, assigned to kevinsawicki

[2014-07-03 21:51] ceeeKay opened #142 "ELIFECYCLE errors for several packages, seemingly due to old npm version"
(Note I'm on CentOS 6.5 so I'm not sure if this will reproduce on the current/supported Ubuntu version. I'm hoping this input can help make the atom build more flexible/portable)

I was getting errors like this

[code]

But I found that if I use npm install <package> directly on the package that failed with an ELIFECYCLE error, it works. Through repetitions of `script/build`, `tail npm-debug.log`,

[2014-07-07 04:59] yongkangchen opened #144 "Too many bash and node process!"
Atom: 0.108.0
Mac os x 10.9.3
I found too many bash and node process in Activity Monitor. Event if i close atom.
every bash's parent process is: launchd(1)
every node's parent process is: bash

[look the process information](https://gist.github.com/yongkangchen/7360de46bf1c08c964ed)

[2014-07-10 16:00] #138 closed, assigned to kevinsawicki

[2014-07-10 16:55] #136 closed, assigned to kevinsawicki

[2014-07-11 08:40] miwurster opened #147 "Cannot publish my theme: Git tag not found"
Hey,

I have an issue publishing my Atom theme.
Every time I try to publish my tag it fails with following output:

[code]

Acutally, the tag is available on GitHub:

[code]

I also tried to `apm login` several times with no luck (also re-created the API key)...

In addition, I browsed some Atom.io discussions as well as older issues and did everything they recommended (re-login, re-publish, ...)

[2014-07-11 18:11] motowilliams opened #148 "Display progress indicator when installing packages"
I tried out pm install language-powershell this morning and I had no idea if it was doing anything - it finally returned and the syntax highlighting was there.

Some end-user status feed back would be much appreciated.

http://technet.microsoft.com/en-us/library/hh849902.aspx

[2014-07-11 22:10] #130 closed, assigned to nobody

[2014-07-14 16:54] crucialfelix opened #150 "apm assumes that the remote is called 'origin' => Package must pushed up to GitHub before publishing:"
edit: as Daniel spotted, the issue is because my remote was called "github" instead of "origin"

source is here: https://github.com/atom/apm/blob/2e2d4b27190dbe960270fb24849df07c3c6406bb/src/publish.coffee#L232

---

its claimed that this bug is fixed, and it was suggested to reopen this if anybody sees it again.

I cannot publish.  it is of course on github, so the error message is incorrect.

ap

[2014-07-14 18:37] rajanand opened #151 "Could not install any package"
![attom error](https://cloud.githubusercontent.com/assets/1008581/3575125/8494cf32-0b85-11e4-84a1-7b9283706c99.PNG)
I'm getting the above error message when I try to install/view any package/themes. Even in atom editor also I tried to install but no use. The same error I am getting. I have installed the atom through [chocolately.](http://chocolatey.org/packages/atom) Any suggestion to fix this iss

[2014-07-14 20:15] ghost opened #152 "Creating new version failed: package.json not found"
`package.json`:

[code]

`apm publish minor` fails:

[code]

`apm publish --tag v0.1.0` fails:

[code]

Any ideas?

[2014-07-17 12:58] TheoWinterhalter opened #153 "Apm publish fails after renaming a repo"
It seems publishing is not possible after renaming a repository (and updating the package.json in consequence).

I get the following (I just renamed my repo on github to match my package name):

Of course the tag still exists.

http://discuss.atom.io/t/cant-publish-package/4890 for more information

[2014-07-17 20:33] Nicolab opened #154 "Creating new version failed"
Hello,

[code]

$ apm -v
- apm  0.78.0
- npm  1.4.4
- node 0.10.26
- python 2.7.6
- git 1.9.1

[2014-07-18 00:39] #154 closed, assigned to nobody

[2014-07-18 19:59] miketheprogrammer opened #155 "Using APM with atom-shell seems to not work."
Attempting a very simple example of installing substacks dnode with a dependency on the native module "weak". causes an error similar to this.

dyld: lazy symbol binding failed: Symbol not found: _node_module_register
  Referenced from: /Users/mhernandez/jibe/node-frame/vendor/newapp/node_modules/dnode/node_modules/weak/build/Release/weakref.node
  Expected in: dynamic lookup

dyld: Symbol not fou

[2014-07-20 19:11] lee-dohm opened #156 "[apm init] Use $GITHUB_USER environment variable in package.json, if available"
The `repository` field in the generated `package.json` is customized with the local directory name. It shouldn't be too hard to customize the same field with either the `$GITHUB_USER` environment variable or perhaps adding a new configuration option to set the user's GitHub user name.

[2014-07-21 17:08] #150 closed, assigned to kevinsawicki

[2014-07-21 17:10] #151 closed, assigned to nobody

[2014-07-21 19:49] #139 closed, assigned to nobody

[2014-07-22 14:29] NotBobTheBuilder opened #157 "Feature Request: finer package controls"
This morning I found I'd updated a package which had been deployed while broken, which meant every time I move my cursor the devtools burst open. It's pretty annoying.

However, the plugin itself is really good, and I don't want to uninstall it. It'd be really handy if the packages page allowed me to roll back to a particular version, or even disable it until a new release is available.

If this i

[2014-07-23 19:27] #152 closed, assigned to nobody

[2014-07-31 15:38] lee-dohm opened #162 "apm install fails on a few packages due to runas 0.5.4 error on Atom 0.121.0-a4fe594"
First, the error:

[code]

I attempted the following:
- I verified that Atom's `package.json` and refers to `atom-runas` v1.0.1 as well as the `package.json` of apm, going so far as to dig through `/Applications/Atom.app` to make sure they really were set right.
- I deleted `~/.atom/storage`, `~/.atom/compile-cache` and `~/.atom/atom-shell`
- I completely deleted and re-cloned my `atom` source dir

[2014-07-31 16:13] #162 closed, assigned to nobody

[2014-07-31 20:06] #90 closed, assigned to kevinsawicki

[2014-08-01 01:01] lee-dohm opened #165 "Add an `apm deps` command that dumps the full list of dependencies"
Occasionally, it can be very useful when debugging issues to get the _full_ list of dependencies for a package, i.e. the transitive closure. apm already calculates this when installing the dependencies, so it should be a simple matter to dump the following for each package that is within the full set of dependencies:
1. The name of the package
2. The version specification for the package
3. The ve

[2014-08-05 09:04] nsrosenqvist opened #167 "Failing to install starred plugins"
I'm trying to install starred plugins with `apm stars --install` on Ubuntu GNOME 14.04 and I get the following error message:
[code]
This is my output from `apm -v`:
[code]

[2014-08-13 18:36] kevinsawicki opened #168 "Prompt to confirm when installing a bundled package"
For some reason there are many reports of people installing bundled packages explicitly with `apm install`.

The initial idea was to allow this in case someone wanted to explicitly manage their version or install a new version before the next Atom release is out.

The problem is that sometimes due to Chrome/Node upgrades or API changes, versions aren't compatible anymore.

Therefore going forward,

[2014-08-13 18:39] kevinsawicki opened #169 "Get stricter about engine"
The `engines` field in the `package.json` is supported by things like `apm upgrade` but not by `apm install`.

`apm install` currently always installs the latest version not matter what.
## apm install changes
- Install latest **compatible** version instead of latest version.
- Require a flag when installing an incompatible version.

[2014-08-14 00:29] #156 closed, assigned to kevinsawicki

[2014-08-14 10:15] demyte opened #170 "apm stars --install is very slow"
I am finding the apm star(s) commands great for helping keep my package usage in sync between machines, but I find it very slow when running apm stars --install.

It seems to re-install all my starred packages every time.

It would be great if the behavior was able to be controlled so that the following was possible as a single and/or individual set of switches to the command line:
- Install missi

[2014-08-14 15:11] ghost opened #171 "Failing to list and install starred packages"
Whenever I try to list and/or install starred packages in apm, it breaks.

I tested both OS X and Linux versions, including the latest release and the latest development (0.121 and 0.122). In all scenarios, the same error arises:

[code]

For apm stars --install the same issue occurs.

[2014-08-14 16:38] #171 closed, assigned to kevinsawicki

[2014-08-14 19:21] #147 closed, assigned to thedaniel

[2014-08-14 23:38] #153 closed, assigned to nobody

[2014-08-14 23:39] #73 closed, assigned to thedaniel

[2014-08-15 20:56] serkandurusoy opened #172 "starring does not star all installed packages"
After doing a

[code]

I get

[code]

But looking in the `packages` folder I see

[code]

So out of 34 packages, I can star and re-install 20 packages.

[2014-08-15 22:32] #172 closed, assigned to nobody

[2014-08-16 08:31] lijunle opened #173 "Add SOCKS proxy support"
Although this [check-in](https://github.com/atom/apm/commit/5a4b99f631b658c32596b5c768929bb833493abf) add support for HTTP proxy and HTTPS proxy. It does not support SOCKS proxy. According to [this post](https://github.com/mikeal/request/pull/680#issuecomment-31963174), that is not too much work. How do you think about this?

[2014-08-16 17:05] lijunle opened #174 "How to use apm under the WALL"
# The story

As you may know, there is a [WALL](http://en.wikipedia.org/wiki/Great_Firewall_of_China) in China. Many websites are affected by this great wall, including `npm`, Amazon S3. As a result, there is something like _[Taobao NPM mirror](http://npm.taobao.org/)_ to resolve problems.

While using `apm`, I feel sad. The tool only output one line when installing a package. Under the wall, it a

[2014-08-16 17:06] #173 closed, assigned to nobody

[2014-08-18 17:11] lee-dohm opened #176 "Need better error message for when attempting to publish a new package that has the same name as one that already exists"
See: https://discuss.atom.io/t/package-name-collisions/11568
## Repro Steps
1. Use Atom's Package Generator to generate a package with the same name as one that already exists that is not yours
2. Use Git to create a repository and push it to GitHub
3. Use the `apm publish` command to attempt to publish the new package

**Expected:** An error message stating that you do not have rights to publish

[2014-08-20 19:22] guillaume86 opened #178 "apm link do not work on windows."
No error message but no link created.

[2014-08-20 22:04] ghost opened #179 "apm ignores python versioning in npm config"
apm install  atom-lint
and
apm install --python=python2.7 atom-lint

result in:
gyp ERR! stack Error: Python executable "python" is v3.4.1, which is not supported by gyp.
gyp ERR! stack You can pass the --python switch to point to Python >= v2.5.0 & < 3.0.0.

npm config list outputs:
; globalconfig /usr/etc/npmrc
python = "/usr/bin/python2"

which python2.7 outputs:
/usr/bin/python2.7

I was event

[2014-08-21 17:23] AbeEstrada opened #180 "apm unpublish errors"
When I run `apm unpublish` without any package name I get this error:

[code]

When I added the package name it worked.

[code]

This is the repo of the package https://github.com/AbeEstrada/atom-remember-window

[2014-08-21 17:40] #180 closed, assigned to kevinsawicki

[2014-08-23 17:52] LorinRicker opened #182 "Ruby enVironment Manager's "cd" function interferes with Atom package management"
Atom 0.123.0, Ubuntu/Linux 14.04 --
[duplicates atom/atom issue #3366, better filed here?](http://github.com/atom/atom/issues/3366)

cmd-, to Settings, click on Packages, got pink boxes saying "Fetching updates/features failed, click to show Output." Clicked:

/opt/atom/resources/app/apm/node_modules/atom-package-manager/bin/apm: line 2: __rvm_cd_functions_set: command not found

RVM defines its o

[2014-08-25 02:42] dsandstrom opened #183 "Allow install via repo url and branch"
For those unfamiliar with Ruby Gemfiles, you can add `git`, `github`, and `branch` options to specify where to look for the gem.

I would like this ability in apm.  It would be useful when a package is broken and the maintainer is mia.  Or you would like to try a feature branch that has not been merged with master.

The only way I know how to do this now is to clone the repo and use `apm link`.

[2014-08-25 16:44] #182 closed, assigned to kevinsawicki

[2014-08-27 12:36] ernestum opened #184 "Converting TextMate Language Bundle gives funky syntax highlighting"
I just tried to convert the gnuplot bundle for TextMate to atom, because syntax highlighting for gnuplot is still missing. The conversion works without errors, and atom also shows me, that it thinks it is opening a gnuplot file when I open one (in the bottom right corner) but the syntax highlighting is either nonexisting or just weird (see ![screenshot](https://cloud.githubusercontent.com/assets/1

[2014-09-03 17:08] backspaces opened #186 "GeoJson Preview: possibly APM issue?"
I've entered an issue with geojson-preview not installing on Atom:
    https://github.com/mick/geojson-preview/issues/10
.. but similar prior issues in that repo pointed to an apm issue.

The error log is: https://github.com/backspaces/play/blob/master/geojsonAtomError.txt

Could you take a peek?  Thanks!

[2014-09-03 17:19] #186 closed, assigned to nobody

[2014-09-06 00:54] #178 closed, assigned to kevinsawicki

[2014-09-08 16:58] bmathews opened #187 "Changing my github username broke the ability to install or publish my package"
I'm having an issue republishing my theme after renaming my github username from moonsspoon to bmathews. Users are getting a Unable to download https://www.atom.io/api/packages/atom-dark-ui-slim/versions/0.4.0/tarball: 400 Bad Request Repository inaccessible when trying to install.

https://www.atom.io/api/packages/atom-dark-ui-slim/

Trying to publish gives me this git tag not found error, even t

[2014-09-08 23:15] #187 closed, assigned to thedaniel

[2014-09-11 20:32] josa42 opened #188 "Cannot republish after transferring the repo"
I transferred my repo and renamed it from `josa42/atom-linter-less` to `AtomLinter/linter-less`. Now I cannot not republish the plugin.

[code]

I also tries to unpublish, but that fails too.

[code]

Installation fails too:

[code]

What am I supposed to do?

[2014-09-12 09:40] suda opened #189 "Setting ATOM_NODE_VERSION to 0.16.0 breaks installing packages using node-pre-gyp"
Commit 4d5dcdaa00bb703d597c4fa1769b04c45cb1b542 changes default `ATOM_NODE_VERSION` to `0.16.0` which breaks installing packages using `node-pre-gyp` like [serialport](https://www.npmjs.org/package/serialport):

[code]

Manually setting it to `0.10.22` which is used in [TravisCI build script](https://raw.githubusercontent.com/atom/ci/master/build-package.sh) because node-v0.10.22.tar.gz isn't avai

[2014-09-12 21:40] #184 closed, assigned to nobody

[2014-09-16 13:15] YellowDarter opened #190 "APM Cannot Install Any Packages (Proxy Issue?)"
I have searched through the forum and done a fair amount of Google-ing before posting, but if this is a duplicate of something I was unable to find, I humbly request a link.

I am on Windows and am behind a corp. firewall.  I have installed Atom via Chocolatey (which automatically uses the proxy).  I am unable to search (or install) packages using the Atom GUI, so I decided to troubleshoot at the

[2014-09-17 05:30] huati365 opened #191 "win7 32 bit build error"
when i run npm install command in apm/ folder :

Desktop\apm\node_modules\git-utils>node "C:\Program Files\nodejs\node_modules\npm\bin\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp
s" rebuild
Once in this solution generates a project. If you want to enable parallel generation, please add "/m" switch.
MSBUILD : error MSB3428: can no load  Visual C++ component “VCBuild.exe”。To solve this pr

[2014-09-18 16:30] #190 closed, assigned to nobody

[2014-09-19 02:57] martinb3 opened #193 "CVE-2013-6668 against Node 0.10.30"
From http://blog.nodejs.org/,

[code]

Similar to https://github.com/atom/atom/issues/3492, there's another vulnerability that is being reported in 0.10.30. Could APM be updated to a newer node so that the next atom release is no longer affected by the CVE?

Thanks!

[2014-09-19 16:29] #193 closed, assigned to kevinsawicki

[2014-09-19 17:16] lee-dohm opened #194 "Add parameters for creating a package list to the "list" command"
I'm thinking something like `apm list --bare --user` would dump a list of all user-installed packages (one per line) to the console. This way it could just be piped to a file to create a package list to later be used as the input for `apm install --package-list`.

[2014-09-20 05:11] lee-dohm opened #195 "Followed the instructions for building and running tests but tests fail"
Specifically:
- Clone the repository
- Run `npm install`
- Run `grunt` to compile the CoffeeScript code
- Run `npm test` to run the specs

Output is:

[code]

Ideas?

[2014-09-22 16:02] #195 closed, assigned to nobody

[2014-09-22 20:52] kevinsawicki opened #196 "Compile files during install/upgrade"
Compile `.coffee`, `.cson`, and `.less` files on install so that when the package/theme is activated/loaded it doesn't have a really high require time due to compiling these files.

[2014-09-22 20:53] #47 closed, assigned to nobody

[2014-09-23 16:43] #194 closed, assigned to kevinsawicki

[2014-09-23 20:51] #155 closed, assigned to nobody

[2014-09-25 07:52] olingerc opened #197 "Set registry path to http://..."
I'm one of those behind a complicated proxy. I got npm working after lots of research. My proxy does not allow https connections so I need the following to get npm to work

[code]

The important part is setting the registry.
How do I replicate this for apm? I tried lots of things in the .apmrc file but none of them worked. Does apm use the npm registry? Why does apm not simple take over the npm pr

[2014-09-29 16:25] lee-dohm opened #198 "Converting a theme sometimes causes NaN results in rgba color values"
After converting the Tyrann Kim theme from TextMate to Atom format and loading it, this was the result:

![theme](https://cloud.githubusercontent.com/assets/1038121/4444924/e86fc916-47f4-11e4-9e25-b1d0a8ce2f4f.gif)

Lots of UI things got broken. I looked through the converted theme and the only things I could see that were out of place were `NaN` values in `rgba()` color specifications like this o

[2014-09-29 20:00] #198 closed, assigned to kevinsawicki

[2014-10-03 16:18] kevinsawicki opened #201 "Show package version installed during apm install"
Currently it doesn't tell you which version was installed.

[2014-10-03 21:52] mark-hahn opened #202 "`apm star --installed` aborts on unpublished package"
When I am in the middle of developing a package (i.e. always) the `apm star --installed` cmd is pretty much useless for me. When it hits an unpublished package is gives this error and aborts.  It should continue after this error.

[code]

This also applies to private packages I have no intention of publishing.  So I have to delete the symlinks to my unpublished packages, run the command, and then

[2014-10-06 20:24] #202 closed, assigned to kevinsawicki

[2014-10-07 22:14] #121 closed, assigned to nobody

[2014-10-14 00:55] mark-hahn opened #204 "problem running apm built on windows"
(see reply for original message)

[2014-10-14 18:19] combiths opened #205 "npm install atom-package-manager fails on Windows"
Greetings,

I just tried installing atom-package-manager from my Git Bash window and received the following errors. Git version is 1.9.4.msysgit.2. Already tried: "npm config set python <path to Python 2.7>"
Thanks.

[code]

Also tried with Powershell as administrator and got the following (same output when using package manager in Atom GUI):

[code]

[2014-10-15 22:02] #168 closed, assigned to nobody

[2014-10-15 22:02] #169 closed, assigned to nobody

[2014-10-15 22:02] #196 closed, assigned to nobody

[2014-10-15 23:39] paradox460 opened #206 "Add custom URLs for linking APM installers on websites"
Feature request:

Create and use a special URI, to allow the installation of APM packages from websites, such as atom.io

The URI could look something like this: `apm://<package-name>` or `apm://<package-name>/version`

[2014-10-15 23:43] #206 closed, assigned to nobody

[2014-10-16 16:04] #197 closed, assigned to kevinsawicki

[2014-10-20 02:16] #189 closed, assigned to zcbenz

[2014-10-23 11:57] emcek opened #208 "win7 native build tools failed"
I have problem with install and upgrade packages. It was running without problems in atom-0.137 but with 0.138 I got:

[code]

I try reinstall all of tools again from https://atom.io/docs/latest/build-instructions/windows but is doesn't help.
I don't know how to check on what check failed.

[2014-10-23 22:28] #204 closed, assigned to kevinsawicki

[2014-10-23 23:39] #179 closed, assigned to nobody

[2014-10-28 18:47] Mpdreamz opened #210 "Cannot rename my package"
I'm trying to rename my package https://github.com/OmniSharp/omnisharp-atom

That is currently published as: https://atom.io/packages/atom-sharper

to `omnisharp-atom` however when i try:

[code]

I get the following error:

[code]

However https://atom.io/packages/omnisharp-atom returns a 404 so I'm a tad confused where this message is coming from.
 

[2014-10-29 00:48] #210 closed, assigned to thedaniel

[2014-10-29 07:34] Mpdreamz opened #212 "Stale packages in package UI after rename"
I recently renamed my atom package and pushed an update however the update is not picked up by atom's UI.

I had to uninstall my package, close atom and reinstall to see the rename.

(windows, latest atom version).

[2014-11-03 15:33] kz-fox opened #213 "Snippet syntax issue when converting from TextMate bundle"
I was trying to convert the restructuredText tmbundle into an atom package, and for the most part it works properly, but the snippet syntax it creates from the tmbundle doesn't work.

[code]

In TextMate when you type `sec` and auto complete, this happens:
![expected behavior](https://cloud.githubusercontent.com/assets/6764762/4884629/a0c4a840-636d-11e4-9394-f13adbd8b14a.gif)

(If you can't see th

[2014-11-04 13:08] #208 closed, assigned to nobody

[2014-11-08 12:57] martinb3 opened #214 "Another node.js vulnerability in 0.10.32"
Due to [POODLE / CVE-2014-3566](http://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2014-3566), the node.js project [has released 0.10.33 and considers 0.10.32 to be insecure](http://blog.nodejs.org/2014/10/23/node-v0-10-33-stable/). They are recommending everyone upgrade to the newer version.

This bug is similar to #193 and https://github.com/atom/atom/issues/3492. It looks like apm needs to be

[2014-11-10 18:39] #214 closed, assigned to kevinsawicki

[2014-11-12 12:48] emcek opened #215 "oniguruma@3.0.4, git-utils@2.1.5, keytar@2.0.3 are incompatible with apm-0.111.0"
Atom Package Manager 0.111.0
Listed below are the incompatible native modules that this package depends on.

oniguruma@3.0.4
Error message: Module did not self-register.
git-utils@2.1.5
Error message: Module did not self-register.
keytar@2.0.3
Error message: Module did not self-register.

[2014-11-12 17:35] #215 closed, assigned to nobody

[2014-11-14 22:38] asantos3 opened #217 "Error publishing a new version of my theme"
So here I was expecting to do a smooth update of my theme and I receive the following error:

![screenshot1](https://cloud.githubusercontent.com/assets/1958425/5054645/60a45bda-6c4f-11e4-965f-a2d9450487b6.png)

I made a new clone of my repo (even deleted the commit and tag related to the release), did a fresh installation of atom and tried to run the commad `apm publish --tag v0.4.0` and nothing s

[2014-11-18 05:09] yongkangchen opened #218 "Cannot publish: Creating new version failed: Git tag not found"
[code]

The repo: https://github.com/vslinko/remote-sync is transferred to me yesterday, I think it may cause this issue. The new url is: https://github.com/yongkangchen/remote-sync

BTW, https://atom.io/packages/remote-sync didn't update the username and url to the latest? Did it will auto update after I publish new version?

[2014-11-20 19:15] travs opened #219 "List available versions of a package"
Similar to `npm view <package-name> versions`.

Currently no way to get this information without browsing to a package's page.

A solution might make use of [this github API](https://developer.github.com/v3/repos/releases/#list-releases-for-a-repository) to get the info.

I would start it but I am just learning CS :coffee: :cry:

[2014-11-23 12:13] bpasero opened #220 "Native module (chokidar) with APM: Assertion failed: (handle->InternalFieldCount() > 0)"
I am not sure if this is the right place to file this issue, but I am starting here because I dont see the issue when using vanilla npm.

Setup:
- Atom Shell 0.19.4
- APM --version

- chokidar 0.11.1

To reproduce:
- unzip atom shell 0.19.4
- create a bare atom shell application as outlined at https://github.com/atom/atom-shell/blob/master/docs/tutorial/quick-start.md
- add a dependency to chokida

[2014-11-25 20:07] #218 closed, assigned to nobody

[2014-11-27 18:19] olmokramer opened #221 "Unpublishing fails with 'Unauthorized' when the package repository doesn't exist"
I tried unpublishing a package of which I had already deleted the repository on github. It failed with message: 'Unpublishing failed: Unauthorized'. When I recreated the repository (I left it empty) unpublishing worked again.
To me it seems a bit strange that the github repo must exist when unpublishing a package...
Also I think the error message I got isn't very clear about the actual issue...

[2014-11-30 19:32] #217 closed, assigned to thedaniel

[2014-12-01 12:37] Trudko opened #224 "Feature Request: Add package packs"
Hi guys :),

one problem which people seem to have from my experience with Sublime and with Atom is that, when installing it for the first time, they have to look around and download packages. This could be bit tiresome and ideally you should just pick your favorite technology for which you want to use Atom and download whole pack of recommended packages. I have created package for this, but I am

[2014-12-04 11:47] steph643 opened #227 "Cannot install many packages"
Under Windows, for many packages, trying to install fails with the following error:
[code]
This error happens with about 1/3rd of atom packages. The remaining 2/3rd have no problem.

A workaround might be to install git and ensure git.exe is referenced in the PATH environment variable (see https://github.com/emmetio/emmet-atom/issues/105).

However:
* Why should installing git be a prerequisite?
*

[2014-12-04 12:49] gurkerl83 opened #228 "Private Packages"
Hi,
is there an option to use apm to publish packages to a private apm registry. Currently we are using npm to publish our npm packages to a private npm registry called sonatype nexus. This is working really great.
Not all our packages are for public access, and not bound to atom at all.
We are just using atom-shell and a few further elements of atom like settings-view to install our packages.

On

[2014-12-06 09:59] yongkangchen opened #229 "Package not show in Available Updates"
![2ac6b32b-72b3-443e-bc19-c71e006a125a](https://cloud.githubusercontent.com/assets/704762/5327009/8e20cf02-7d71-11e4-9840-f3fdda7d2732.png)

Maybe have some thing to do with https://github.com/atom/apm/issues/218.

[2014-12-08 11:05] despairblue opened #231 "Typo in install.coffee"
_This might be a nodejs issue_

Node invokes the `writeStream.on('error')` callback w/o an error when the disk is full.

[code]

That's at https://github.com/atom/apm/blob/6dc9f1c5686a34289c91a85af86085ae68e541fd/src/install.coffee#L217

[2014-12-08 17:33] #231 closed, assigned to nobody

[2014-12-08 18:32] cognominal opened #233 "Documentation unclear"
Readme.pm "says native modules are built against Chromium's v8 headers instead of node's v8 headers." I know what is a C header, but I don't know what is a coffeescript header. Native modules
are in coffeescript. Am I right.

[2014-12-08 18:42] cognominal opened #234 "packageDependencies key for package.json not documented"
Maybe this belong to atom doc. Anyway I don't find documentation anywhere.

[2014-12-09 05:34] #228 closed, assigned to nobody

[2014-12-11 17:02] mark-hahn opened #236 "make sure git is installed when apm is"
Many beginners to apm are flummoxed when they get errors because git is not available.  See https://discuss.atom.io/t/sync-settings-wont-install/13701 as one example.

APM  should check and see if git works and install git if it doesn't.  Git is a real dependency and should be treated as such.

[2014-12-11 21:24] #229 closed, assigned to thedaniel

[2014-12-15 22:30] acormier opened #238 ""Preparing and tagging a new version" fails when I try to publish my package"
I had my package published under my account "acormier/rhino-python".  I did something like this:
- unpublished package
- fork to mcneel/rhino-python
- try to republish it but unsuccesful.

I then read that forking was an issue so I:
  -  unpublished
  - deleted both repos from github
  - deleted and re-inited repo locally
  - pushed new repo to mcneel/rhino-python
  - apm publish rhino-python

And

[2014-12-16 20:47] mruszczyk opened #239 "apm list not showing installed packages"
When I attempt to use apm list to show installed packages it only lists built in packages.

Windows 10 TP, Atom 0.158.0, apm 0.114.0,
Output from apm when attempting to list packages:

[code]

[2014-12-16 20:48] #239 closed, assigned to nobody

[2014-12-19 03:46] fanweixiao opened #240 "Does apm support SOCKS5 Proxy"

[2014-12-19 12:42] bpasero opened #241 "How do I tell APM which node version to use?"
I want to "apm install" the chokidar package which relies on the native fsevents module. When I run "apm install" the output is:

gyp info it worked if it ends with ok
gyp info using node-gyp@0.12.2
gyp info using node@0.10.33 | darwin | x64
0.18.0
gyp info ok

I am worried about the fact that gyp seems to use node 0.10.33 whereas in Atom the node version typically is 0.11.x. I believe this versio

[2014-12-23 00:07] magalhas opened #242 "Moved organization can't unpublish package"
I know there are some issues related with this, but in this case it concerns a moved organization. Don't know how to solve this issue. Can't go back to the old organization name. Does anyone has the power to unpublish https://atom.io/packages/jscrambler manually?

[2014-12-23 06:56] #242 closed, assigned to nobody

[2014-12-28 05:52] wodaixin opened #243 "apm Not functioning properly"
![img](http://git-page.qiniudn.com/20141228021758.jpg)
![img](http://git-page.qiniudn.com/20141228022301.png)
![img](http://git-page.qiniudn.com/20141228022416.jpg)

and can't show in explorer

![img](http://git-page.qiniudn.com/20141228023255.jpg)

[2015-01-05 10:59] acormier commented on #238
I'm not sure what I did but after some fiddling I was able to publish a minor version.
Cheers

[2015-01-05 10:59] #238 closed

[2015-01-07 12:55] mnquintana opened #245 "Update npm?"
I noticed that apm is running npm 1.4.4 – a pretty old version of npm at this point (latest is 2.1.17) – is there a reason apm is still running on this old version?

[2015-01-07 16:51] kevinsawicki commented on #245
The main reason is regressions, last time we tried to upgrade there were bugs in the current npm release (I assume they were fixed since then) and so we downgraded again.

I've been waiting for a compelling reason to upgrade since then and haven't seen one but I'm definitely open to the idea .

[2015-01-07 17:57] LoneBoco commented on #236
This is a real problem.  I just started to use Atom recently and I discovered the minimap addon.  I wanted to download it, but it kept failing.  Only when I checked through the apm install log did I find that line or two that complained about git being missing.  If there is a hard dependency on git, it really needs to be installed with Atom.

[2015-01-07 20:10] mnquintana opened #246 "apm update requires npm package.json"
Not sure if this is intentional, but `apm update` seems to just call `npm update`, which looks for a local `package.json`. I expected `apm update` to do what `apm upgrade` actually does (check for package updates and give you the option to update them). As a package consumer, the current behavior of `apm update` is really confusing – maybe it should just be an alias for `apm upgrade`?

**EDIT:** I

[2015-01-08 18:34] stramel opened #247 "Problem updating"
### Steps to Reproduce

1. Open Settings
2. Click 'Updates'
3. Click 'Update All'

**OS:** Ubuntu 14.04
**Atom Version:** 0.170.d7158a2

[code]

[code]

**UPDATE:** Can't install any packages anymore.

[2015-01-11 05:51] stramel opened #249 "Can't perform a rebuild"
I am working on a new plugin for Atom that has a dependency on [Shouqun/node-dbus][dbus]. When trying to test my application in Atom using the [instructions here][instructions]. It fails on the `apm rebuild` command

[code]
https://gist.github.com/stramel/579e6e9375c88007fc3e#file-error-log

[dbus]: https://github.com/Shouqun/node-dbus
[instructions]: https://atom.io/docs/v0.169.0/advanced/node-mo

[2015-01-12 16:48] stramel commented on #247
For some reason, I now need to use `sudo` to launch atom and perform package updates/installs? I'm not sure how or why this changed. I use a script to perform the install and never change the repository other than through the script.

[2015-01-12 22:28] park9140 opened #250 "Package dependencies not loaded"
I recently worked on an update to AtomLinter/Linter and had an issue deploying to our users.

In our 0.9.1 update we rolled forward to a new version of `space-pen` in our package.json. When users upgrade to the new version it will not immediately load the new module version.  After the update in the editor we see the new version of `space-pen` installed in the package node_modules. However, the ed

[2015-01-13 00:09] travs opened #251 "Problem installing my package from apm"
I'm not sure if this is an issue with my package, apm, or the npm version installed under apm, but there seem to be others who have the same problem.

Someone tried to install my Atom package and it [failed dramatically](https://github.com/travs/markdown-pdf/issues/20#issuecomment-69651673) on installing the dependencies :cry:

[Someone already raised this](https://github.com/npm/npm/issues/7093)

[2015-01-13 00:58] kevinsawicki commented on #251
@travs Thanks for linking to that npm issue.

Based on this comment, https://github.com/npm/npm/issues/7093#issuecomment-69273756 it seems like we should upgrade soon.

[2015-01-13 19:23] kevinsawicki commented on #250
What version were you upgrading to/from of space-pen?

[2015-01-13 19:42] kevinsawicki commented on #249
Do you know if that library compiles against node 0.11? That is the version of node that Atom ships with those looks like v8 errors caused from API changes between node 0.10 and node 0.11.

Libraries typically use https://github.com/rvagg/nan to get things working across those versions.

[2015-01-13 20:10] park9140 commented on #250
@kevinsawicki, we went from, 4.2.2, to 4.3.3.  We haven't been able to update to 5.* yet due to a couple random errors.  But it was a full minor version change not a patch version, so I would assume that it should be reloaded when that happens.

[2015-01-13 20:23] stramel commented on #249
It is compiled against an older version of node.  I will give the repository you suggested a shot. Thanks @kevinsawicki

[2015-01-13 20:24] kevinsawicki commented on #249
Thanks, closing this out.

[2015-01-13 20:24] #249 closed

[2015-01-13 20:28] kevinsawicki commented on #250
So is this error still happening or have you published a version that no longer exhibits the problem?  Just wondering if I should try to reproduce directly with the linter package.

[2015-01-13 20:30] park9140 commented on #250
It still seems to happen if someone upgrades from anything less than `0.9.1` to `0.9.1`.

[2015-01-13 22:26] thedaniel opened #253 "Success message should follow ATOM_API_URL"
[code]

Even if you're running this command against localhost, the success message indicates production, which can give one a brief interruption in coronary services. :heartbeat: :heart: :skull:

[2015-01-14 01:42] kevinsawicki commented on #250
And does it fail in Atom immediately after the upgrade?

I just installed 0.9.0 and then upgrade to 0.10.0, just wondering how I would notice it.

[2015-01-14 01:47] Cifer-Y opened #254 "a confused problem for atom online update and install package"
atom-version: 0.172
OS: Yosemite 10.10.1

I'm using global pac proxy, suddenly I can't update and install package in atom editor
from yesterday, such as:

![untitled - atom atom today at 09 17 30](https://cloud.githubusercontent.com/assets/4470516/5732686/410c1aea-9bd1-11e4-928e-735788e431df.png)

But when I tried `apm install --verbose color-picker`, the package was installed successfully.
So I t

[2015-01-14 01:49] kevinsawicki commented on #254
Does that error display for all packages you try and install from the settings view?

[2015-01-14 01:50] Cifer-Y commented on #254
yes, all packages

[2015-01-14 01:53] kevinsawicki commented on #254
If you `apm install color-picker` without the `--verbose` option, does it succeed?

[2015-01-14 01:56] Cifer-Y commented on #254
Succeed, I tried color-picker and merge-conflict, `apm install` succeed

[2015-01-14 02:01] kevinsawicki commented on #254
So are you only configuring your proxy settings via your `~/.atom/.apmrc` file or also via environment variables?

[2015-01-14 02:09] Cifer-Y commented on #254
I have a global pac proxy setting for my Wi-Fi，and the terminal is using a start proxy function for proxy.
On regular situation, the proxy will auto work well for atom, it did well before yesterday, so I add the proxy settings in `~/.atom/.apmrc` try to make proxy work well for atom... but I failed

[2015-01-14 02:11] kevinsawicki commented on #254
Just curious, are you starting Atom from the terminal, or from the dock?

[2015-01-14 02:12] Cifer-Y commented on #254
I start atom from dock

[2015-01-14 02:13] kevinsawicki commented on #254
Can you see if it behaves differently if you launch it from the terminal using the `atom` command?

[2015-01-14 02:15] Cifer-Y commented on #254
no difference... same behaves

[2015-01-14 02:19] Cifer-Y commented on #254
Is my ISP problem? I'am in China, as you know, China is a  magical country.......╮(╯_╰)╭

[2015-01-14 02:22] Cifer-Y commented on #254
I will try to change an ISP later,  wait for my news~~~

[2015-01-14 04:10] Cifer-Y commented on #254
Okay, jobs done! This issue can be closed. I config global proxy and atom specify proxy again and again, and now it is fine, the true reason still not found, but everything is awesome~~~~

[2015-01-14 15:37] jackmaney opened #255 "Unable to upgrade some packages"
This is a long-overdue follow-up from [this issue](https://github.com/atom/atom/issues/4278), which is being brought up here by @kevinsawicki's request. Note that the current error messages are a bit different from the above linked issue.

I'm using OSX 10.9.5 with Atom 0.172.0.

[code]

I'm also behind a corporate proxy.

[code]

(Note that I'm routing https through http, as per [this comment](ht

[2015-01-14 17:17] kevinsawicki commented on #255
This seems similar to https://github.com/npm/npm/issues/3559

[2015-01-14 17:39] kevinsawicki commented on #255
It would be good to know if you can `npm install` that same library and if so, what version of npm does it succeed in.

npm is currently being upgraded in #252 so it might be possible that this is already on the way to being fixed.

[2015-01-14 18:12] jackmaney commented on #255
`npm install` which library? I can install `harmony-collections` (via a `sudo npm install harmony-collections -g`) with no problems.

[2015-01-14 18:14] kevinsawicki commented on #255
What about `npm install git+https://github.com/Benvie/harmony-collections.git` ?

[2015-01-14 18:19] kevinsawicki commented on #250
Just to confirm, just restarting the editor doesn't fix this? You **have** to run `apm rebuild-module-cache` as well?

[2015-01-14 18:34] park9140 commented on #250
@kevinsawicki, in my tests restarting does not always fix the problem.  I just tried to reproduce needing to run `apm rebuild-module-cache` in the new version of atom, and can't seem to get it to happen now.

I'd say before it was a little under half the time that I would need to run `apm rebuild-module-cache`

[2015-01-14 19:29] jackmaney commented on #255
That works fine, as well.

[2015-01-14 22:21] kevinsawicki commented on #255
And just to see, what version of `npm` are you using?

[2015-01-14 22:24] kevinsawicki commented on #254
Okay, closing out, thanks for the updates.

[2015-01-14 22:24] #254 closed

[2015-01-14 22:30] jackmaney commented on #255
[code]

[2015-01-14 22:30] kevinsawicki commented on #255
Hmm, okay, I wonder if going 1.4 :arrow_right: 2.0 of npm will fix this. That is being done in #252

[2015-01-14 22:40] kevinsawicki commented on #220
@bpasero are you still experiencing this issue?

[2015-01-14 22:41] kevinsawicki commented on #241
Closing out

[2015-01-14 22:41] #241 closed

[2015-01-14 22:43] jackmaney commented on #255
Hmmm, I'm not so sure. I set up a separate installation of npm 1.4.28, and I could still install `harmony-collections`:

[code]

[2015-01-14 22:48] kevinsawicki commented on #255
Can you verify it installs when referenced as a `dependency` in a module's `package.json` file?

Something like:

* `npm init`
* Add `"dependencies": { "harmony-collections": "git+https://github.com/Benvie/harmony-collections.git#e81b4b808359e2def9eeeabfdee69c2989e1fe96" }` to the `package.json` file
* `npm install`

[2015-01-14 22:55] jackmaney commented on #255
It worked with `npm 2.1.18`:

[code]

And it worked with `npm 1.4.28`:

[code]

[2015-01-14 22:57] kevinsawicki commented on #255
Could you try `npm 1.4.4`? That is what `apm` currently uses.

[2015-01-14 23:05] jackmaney commented on #255
No dice. :unamused:

[code]

[2015-01-15 03:34] mnquintana opened #256 "Add --no-themes or --packages flag to apm list"
It would be really useful for `apm list` to be able to return a list of just *packages* and no themes. Currently it's possible to return a list of just *themes* and no packages, but not vice versa. I'm not sure which flag would make more sense, `--no-themes`, `--packages`, or something else.

Something else might work better than those two options because it's not clear what the expected behavior

[2015-01-15 07:43] bpasero commented on #220
@kevinsawicki yes, I encourage you to try it out :)

[2015-01-15 14:50] mnquintana opened #257 "apm develop doesn't work on apm"
`apm develop apm` returns `Request for package information failed: Not Found`
`apm develop <any-other-core-package>` works normally

[code]

[2015-01-15 16:30] kevinsawicki commented on #257
Yeah, this is expected, `apm` is not a package published to atom.io, it is a library published to npmjs.org

We could special-case this though to make it easier to hack on apm.

[2015-01-15 16:37] mnquintana commented on #257
Ah okay, I had a feeling it was something like that.

I think making it a special case seems like a good idea - if it turns out that isn't the best route, I think the best compromise would be to display a warning and help text for the preferred way to hack on apm.

[2015-01-15 16:38] kevinsawicki commented on #257
:+1:

[2015-01-15 17:02] #245 closed

[2015-01-15 17:02] #251 closed

[2015-01-16 16:13] jackmaney commented on #255
The issue persists (for the same five packages) after upgrading Atom to 0.174.0. Is there an ETA on when #252 will make it into a release?

[2015-01-16 17:09] kevinsawicki commented on #255
@jackmaney It should be in the next release, 0.175

[2015-01-16 17:16] jackmaney commented on #255
Excellent. Once the release is made, I'll let you know if the issue persists.

Thanks!

[2015-01-17 09:56] bpasero commented on #220
@kevinsawicki I just tried with latest (APM 0.120.0, node 0.10.x) and now I am getting a different error that you might know more about:

[code]

[2015-01-17 23:30] mnquintana opened #261 "Enforce theme naming conventions (-syntax and -ui)"
Syntax and UI theme names are supposed to end with -syntax and -ui, but as far as I can tell, this isn't actually enforced anywhere in the publishing process. Why not actually enforce it?

I'm thinking that if it's the first time publishing the package, then before it does, apm should check to see if it's a theme, and if so, display an error informing the package developer that they need to rename

[2015-01-20 15:47] jackmaney commented on #255
I'm also getting errors when trying to upgrade the following packages:

* Color Picker (1.3.0 -> 1.4.0)

* Linter Clang (2.10.0 -> 2.15.0)

For Color Picker, I get prettymuch the same stack trace as above (unable to get the `harmony-collections` repo). For the Clang linter, though, I'm getting a different stack trace:

[code]

I can clone `git://github.com/wanderer2/clang-flags.git` from the comma

[2015-01-20 18:08] #256 closed

[2015-01-20 19:40] mnquintana opened #263 "[Website] Show version number near download links on atom.io"
It would be really useful to see what version number you'll be downloading when you hit one of the download buttons on atom.io. Of course, you could always check [Atom's releases on GitHub](https://github.com/atom/atom/releases) and download from there, but it would be nice to see the version number on the website too, preferably by the download buttons.

[2015-01-20 23:45] AustP opened #265 "apm develop not working on Windows"
Last week I used `apm develop` and it worked great. I tried to use it again today `apm develop tree-view` and these are the errors I saw:

	Cloning https://github.com/atom/tree-view mdone
	Installing modules failed

	C:\Users\Aust\github\tree-view\node_modules\pathwatcher\node_modules\runas>node "c:\Users\Aust\AppData\Local\atom\app-0.174.0\resources\app\apm\node_modules\atom-package-manager\node_

[2015-01-21 15:16] mnquintana opened #266 "[Website] "Other platforms" link still redirects to FAQ on atom.io"
Now that Atom is available for all platforms, I think it would be better UX to instead actually show the releases for the other platforms when you click "Other platforms" from the home page. Right now, it just redirects to the FAQ question, which just states that builds are available for all of these platforms, but doesn't actually direct you to download them (instead it seems to suggest that you

[2015-01-21 22:06] AustP commented on #265
Just tried this again with latest release. Still seeing the issue.

    apm 0.123.0
    npm 2.1.18
    node 0.10.35
    python
    git 1.9.5.msysgit.0
    visual studio

[2015-01-21 22:08] kevinsawicki commented on #265
Do you have visual studio and python installed?

[2015-01-21 22:10] AustP commented on #265
@kevinsawicki I don't have either installed.

[2015-01-21 22:14] kevinsawicki commented on #265
This is probably the issue since `tree-view` has dependencies on libraries that have native code.

[2015-01-21 22:39] AustP commented on #265
@kevinsawicki I've intalled Python 3.4.2. Will Visual Studio Express 2013 for Web suffice?

[2015-01-21 22:50] kevinsawicki commented on #265
The Atom build requirements are here: https://github.com/atom/atom/blob/master/docs/build-instructions/windows.md#requirements

[2015-01-21 23:23] AustP commented on #265
@kevinsawicki Thanks that was the issue. I didn't realize that for developing packages I would need to have the same requirements as building Atom. Perhaps you should add that to CONTRIBUTING.md? Thanks for your help.

[2015-01-21 23:23] #265 closed

[2015-01-21 23:27] kevinsawicki commented on #265
Good point, there is an `apm install --check` command (I should have mentioned) that checks for native build tools that should probably be mentioned somewhere.

[2015-01-22 00:13] jackmaney commented on #255
I've upgraded to Atom 0.175.0. Upgrading Color Picker worked just fine, but upgrades of the following packages failed:

* Atom Lint

* Autocomplete Plus

* Linter

* Linter Clang

* Markdown Preview Plus

* Minimap

Here is the (now shorter) stack trace that I get when trying to update Atom Lint:

[code]

The same `harmony-collections` issue persists for all of the above modules except Linter Clan

[2015-01-22 00:14] kevinsawicki commented on #255
@jackmaney can you run `apm config ls` and verify the proxy settings there look correct?

[2015-01-22 00:17] jackmaney commented on #255
Yes, they look correct:

[code]

[2015-01-22 00:21] jackmaney commented on #255
For the heck of it, I tried uninstalling Atom Lint and doing a fresh reinstall of the package. No dice.

[2015-01-22 00:24] kevinsawicki commented on #255
Weird, I'm really not sure what else to try at this point besides opening the npm code from within apm on your machine and log out the environment when `git` is spawned to verify the environment variables.

[2015-01-22 00:26] jackmaney commented on #255
Hmmmm...apm uses its own special npm installation (as opposed to a global one), I take it?

[2015-01-22 00:30] kevinsawicki commented on #255
Yeah, apm bundles npm and spawns it with certain flags for building things against the node version that ships with atom

[2015-01-22 00:31] jackmaney commented on #255
Hmmm, okay, I'll try digging into the code later this week and see what I can come up with. Thank you for all of your help.

[2015-01-22 00:39] jackmaney commented on #255
:confused:

Wait....

[code]

![What the...](http://reactionface.net/reactionface/images/original/338.jpg?new=1)

[2015-01-22 00:44] jackmaney commented on #255
Huh...using `apm` on the command line, I could install all of the packages above except for Linter Clang and Markdown Preview Plus.

[2015-01-22 00:46] kevinsawicki commented on #255
Same `github.com` related errors as from within Atom?

[2015-01-22 00:54] jackmaney commented on #255
Actually...no. Good catch.

For Markdown Preview Plus, here's the stack trace from the command line:

[code]

And here's the stack trace from within Atom itself (Settings > Updates):

[code]

No mention of `harmony-collections` in the former.

[2015-01-22 00:58] kevinsawicki commented on #255
On the command line, do you have any proxy environment variables set? like `HTTP_PROXY` or `HTTPS_PROXY`

In Atom, if you open the dev tools, go to the console tab, and type `process.env`, do you see those same variables there?

[2015-01-22 00:58] jackmaney commented on #255
For Linter Clang, here's the stack trace from the command line:

[code]

and from within Atom:

[code]

Unfortunately, I have to go for tonight, but I'll look into tacking some logging onto apm to maybe get a better handle on what's going on.

[2015-01-22 03:12] mnquintana opened #267 "Add --no-dev flag to apm list"
I just noticed that if you happen to have any Atom packages linked into dev mode, they are listed with `apm list` no matter what you do. This seems like kind of an essential flag to add, because without it, if you wanted to `apm install` from the output of, say, `apm list --installed --bare > my-packages.txt`, then it will always include invalid packages if linked into `dev`.

`apm list -pi`:

![s

[2015-01-22 14:47] mnquintana opened #268 "Replace optimist?"
[Optimist has been deprecated for awhile now](https://github.com/substack/node-optimist#deprecation-notice), so it might be a good idea to move apm from optimist to one of its successors: [yargs](https://github.com/chevex/yargs) or [minimist](https://github.com/substack/minimist). (FWIW, yargs is billed as the official successor to optimist and seems much better maintained.)

[2015-01-22 15:30] jackmaney commented on #255
Sorry, didn't see your reply above.

Yep, along with `http_proxy` and `https_proxy`.

I don't *think* so...

[code]

I'm not sure how to expand the `...` after `USER: "[username]"`, though (or are the rest of the things (starting with `ATOM_HOME`) what exist within the `...`?).

[2015-01-22 15:35] vinkla opened #269 "Error After Renaming a Package"
As [discussed here](https://discuss.atom.io/t/error-after-renaming-a-theme/13993/7) I had problems renaming my color scheme. I tried to rename it from **broadcast-theme** to **broadcast-color-scheme** but with no success. In the end I renamed it back to its original name and now I want to remove the new one. Please help me remove it.

New: https://atom.io/themes/broadcast-color-scheme

[2015-01-22 19:27] kevinsawicki commented on #267
:+1:

[2015-01-22 19:28] #267 closed

[2015-01-22 19:33] kevinsawicki commented on #267
Also added support for `apm list --no-links` as well

[2015-01-22 20:52] mnquintana commented on #267
Looks awesome, thanks!

[2015-01-22 22:01] thedaniel commented on #269
Cool, I'll remove the old one. How did your package rename fail? Maybe we can get to the bottom of that issue as well.

[2015-01-22 22:02] thedaniel commented on #269
Ah, I see from the thread on Discuss, this happened a few weeks ago. I understand if you don't recall the exact mechanism of the failure. On the bright side there have been some improvements to publishing since then, so maybe it's already been fixed ;)

[2015-01-22 22:03] #269 closed

[2015-01-22 23:17] reggi opened #270 "apm install --production"
Hey all I'm having trouble apm install is download dev-deps to my atom-shell app, how can I only install deps?

[From npm](https://docs.npmjs.com/cli/install)

[2015-01-22 23:18] kevinsawicki commented on #270
Yeah, this option isn't support yet, but definitely should be added.

[2015-01-22 23:26] reggi commented on #270
This does the same thing I guess `npm install -s --production && apm rebuild`

[2015-01-22 23:34] #270 closed

[2015-01-23 01:21] tokejepsen opened #272 "Creating new version failed: Not found"
Trying to publish this repo for the first time;

https://github.com/tokejepsen/atom-nuke

Error;

[code]

Have published before with the same setup, without a problem.

[2015-01-23 07:13] vinkla commented on #269
I renamed the repository here on GitHub then in the `package.json` file. Tried to publish it like before but it created a second one instead. Is it possible to rename a package or should it create a new one? Just asking if I ever try something similar in the future. I mean, if I've a package that needs to be renamed I don't want to lose the downloads or break it for current users.

[2015-01-23 07:14] thedaniel commented on #269
yes, you can use `apm publish --rename` - see `apm help publish` for details

On Thu, Jan 22, 2015 at 11:13 PM, Vincent Klaiber <notifications@github.com>
wrote:

[2015-01-23 07:15] vinkla commented on #269
Great. Thanks. I'll try it out!

[2015-01-23 17:33] ReactiveRaven opened #273 "[Website] stars is case sensitive"
The stars api appears to be case sensitive, but github is not.

https://atom.io/users/reactiveraven/stars

https://atom.io/users/ReactiveRaven/stars

http://github.com/reactiveraven

http://github.com/ReactiveRaven

This lead to confusion when I was unable to pull new stars with `apm stars` on command line, which has since resolved itself and was most likely a caching issue.

[2015-01-23 18:21] thedaniel commented on #272
Hm, I'll take a look at this. In any case, the error message should be better.

[2015-01-23 23:31] mark-hahn opened #274 "many packages fail to upgrade with a common error"
I had eleven packages that needed upgrading.  Of those five failed with the error below.  The error was pretty much the same in every case.

- atom-git-projects
- command-logger
- hex
- merge-conflicts
- project-manager

    npm ERR! Failed to clone git+https://github.com/Benvie/harmony-collections.git#e81b4b808359e2def9eeeabfdee69c2989e1fe96 from https
    ://github.com/Benvie/harmony-collections

[2015-01-23 23:47] mark-hahn commented on #274
Closed in favor of https://github.com/atom/atom/issues/5202

[2015-01-23 23:47] #274 closed

[2015-01-25 15:47] Larivact opened #275 "Installing specific version / updating"
How do I
-install a specific version of apm?
-update to the latest version of apm?
Do I have to build it myself?

[2015-01-25 19:49] thedaniel commented on #275
Atom editor updates should take care of keeping your apm up-to-date. If you want an old version and *really* don't want to build it yourself, [it's also on npm](https://www.npmjs.com/package/atom-package-manager)

[2015-01-25 19:49] #275 closed

[2015-01-26 05:33] Larivact commented on #275
@thedaniel I installed the newest version of atom-editor. I got apm 0.123.0, correct me if I am wrong but the current version of apm is 0.127.0; and ```npm install -g atom-package-manager``` broke my apm

[2015-01-26 15:03] XadillaX opened #276 "Error while installing"
[code]

Above is all message.

[code]

[2015-01-26 23:39] mnquintana opened #277 "[Website] Show latest version release date for package detail on atom.io"
It would be really helpful to show the release date for the latest version of a package on atom.io (or if not a date, time since the last release). This would make it a little easier to weed out packages that might not be maintained anymore. Maybe something like:

![screenshot 2015-01-26 18 36 38](https://cloud.githubusercontent.com/assets/823545/5910656/7c62e0b6-a58a-11e4-864c-0905544a387a.png)

[2015-01-26 23:59] thedaniel commented on #277
I think that's pretty noisy in the package card, but it should definitely be on the detail page.

[2015-01-26 23:59] thedaniel commented on #277
What if we put a date in a tooltip on the version number in the card?

[2015-01-27 00:00] mnquintana commented on #277
Oops sorry, I realized that after I posted this. I meant on the detail page (the screenshot is from the detail page too).

[2015-01-27 00:03] mnquintana commented on #277
@thedaniel That would be okay, but IMO the benefit of showing the date would be making it obvious / explicit at a glance when the last release happened, and making it a tooltip would make it not very obvious or explicit. I think there is enough whitespace in that stats row to keep it from looking too cluttered, but only on the detail page.

[2015-01-27 00:12] jackmaney commented on #255
The issue still persists in Atom 0.176.0.

[2015-01-27 07:12] JordiOrlando commented on #218
Hi guys, I just tried publishing my first package and because of some confusion on my part it got published as v0.2.0. That said, the publish was successful. So to 'fix' the versioning I unpublished the package and then completely deleted the repository, then recreated it with the same name as earlier. Now whenever I try to publish the package apm throws the following error:
[code]
Is there any wa

[2015-01-28 00:34] KamranMackey opened #278 "Can't seem to get the apm command to work on Windows."
There isn't any "Install Shell Commands" option in the Atom Windows build, and I was wondering how I add the "apm" and "atom" commands to my PATH.

[2015-01-28 00:42] kevinsawicki commented on #278
If you installed Atom using the installer, it should be automatically added to to your path.

How did you install Atom?

[2015-01-28 00:43] KamranMackey commented on #278
I installed Atom by installing it from source.

[2015-01-28 00:45] kevinsawicki commented on #278
Then you have to manually add it to your path if you want to use it from the command line.

[2015-01-28 00:45] #278 closed

[2015-01-28 00:46] KamranMackey commented on #278
How do I add it to my PATH?

[2015-01-28 00:50] kevinsawicki commented on #278
Add `ROOT_ATOM_DIRECTORY\resources\app\apm\bin` to your path, substitute the directory you installed Atom into for the `ROOT_ATOM_DIRECTORY` portion, such as `C:\Program Files\Atom`.

http://www.computerhope.com/issues/ch000549.htm for more details

[2015-01-28 00:55] KamranMackey commented on #278
System path or user path?

[2015-01-28 00:56] kevinsawicki commented on #278
User path

[2015-01-28 00:59] KamranMackey commented on #278
I just did that, but it still says that apm isn't recognized. :disappointed:

[2015-01-28 01:00] kevinsawicki commented on #278
Did you restart the command prompt?

[2015-01-28 01:00] KamranMackey commented on #278
I never even had the command prompt open when I added apm to my path.

[2015-01-28 01:01] kevinsawicki commented on #278
If you switch to the installer it will automatically add it for you, that is what I would recommend if you are unable to manually set it.

[2015-01-28 01:02] KamranMackey commented on #278
Maybe if I restart Windows Explorer it might work? If that doesn't work then I'll just restart my computer.

[2015-01-28 21:58] kevinsawicki commented on #236
Just looking at portable Git which is what GitHub for Windows installs on first launch, it is 125MB zipped up.

So maybe there is a way to achieve a smaller Git distro but portable Git and Git bash both appear to be 250MB uncompressed.

So this is probably a better candidate to install at first launch and not when atom & apm are installed by the installer.

[2015-01-28 22:04] kevinsawicki commented on #276
I think you also need to host the `node.lib` file locally as well.

[2015-01-28 22:05] kevinsawicki commented on #268
Yeah, I've been using yargs for new stuff, just haven't updated any old stuff.

atom itself is still using optimist.

[2015-01-28 22:09] kevinsawicki commented on #255
So just confirming one more thing, is your `http_proxy` environment variable value the same as the value in your `.apmrc` file?

[2015-01-28 22:34] mnquintana commented on #268
Would you mind if I took a crack at porting it over to yargs?

[2015-01-28 22:36] kevinsawicki commented on #268
Yeah, sounds good

[2015-01-28 22:42] kevinsawicki commented on #247
Are you still seeing this on the latest version of Atom? The bundled npm version has been upgraded a couple times since you reported this.

[2015-01-28 22:42] KamranMackey commented on #278
@kevinsawicki Okay, looks like the Atom Package Manager works now. I just had to restart my computer. Thanks a lot, Kevin! :smiley:

[2015-01-28 22:45] kevinsawicki commented on #278
Awesome, glad to hear things are working now.

[2015-01-28 22:49] KamranMackey commented on #278
Yeah, they are. Although it would be really nice if I could "Like" or "Star" your comments, Kevin...but it looks like GitHub hasn't added in that functionality yet. :disappointed:

P.S. I know this comment is off-topic, but I just wanted throw that out there. :smile:

[2015-01-28 22:57] #246 closed

[2015-01-28 22:59] kevinsawicki commented on #246
`apm update` was just `apm clean` followed by `apm install`.

This was one of the earliest commands when Atom was just switching to node and rebuilding was really common.  Once things stabilized this command should have been removed since it is unintuitive and seldom used.

I've switched to now do what `apm upgrade` does, update out of date packages.

[2015-01-28 23:05] stramel commented on #247
@kevinsawicki I will double check in the morning

[2015-01-28 23:16] #255 closed

[2015-01-29 01:03] kevinsawicki commented on #255
I Add a fix over in #280, please let me know if it doesn't fix the issue after Atom 0.177 comes out, thanks

[2015-01-29 15:03] stramel commented on #247
@kevinsawicki Yes, I am still having this issue. I'm unsure why it started seeing as I didn't have this issue for most of the time I have been using Atom.

[2015-01-29 15:22] reggi opened #281 "Error on npm rebuild"
I'm having an issue with atom-shell https://github.com/atom/atom-shell/issues/1070

[code]

and I was running `apm rebuild` and it was rebuilding then I just updated `apm` and I'm getting this error. What's going on?

The Error

[code]

Versions of things:

[code]

[2015-01-29 15:26] #281 closed

[2015-01-29 21:37] jackmaney commented on #255
Yes, the `http_proxy` environment variable is the same as that in my `.apmrc`. I'll let you know if the issues persists in 0.177.0. Thanks.

[2015-01-29 21:38] jackmaney commented on #255
Yes, the `http_proxy` environment variable is the same as that in my `.apmrc`. I'll let you know if the issues persists in 0.177.0. Thanks.

[2015-01-30 15:51] necocen commented on #218
Hi @thedaniel , I am facing the same problem.
I have destroyed the github repository which is related to the package('kill-ring') for certain reasons, and re-create repository with the same name( https://github.com/necocen/kill-ring ). After that, I have tried to update the package, and received `Creating new version failed: Application error` message.
Could you please apply the DB magic for me?

[2015-02-02 13:33] stramel commented on #247
@kevinsawicki Apparently, at some point along the way my `.atom` folder was generated by `root` user. I was able to update again by performing the following command:

[code]

[2015-02-02 13:33] #247 closed

[2015-02-02 19:53] mike-pt opened #282 "Build Fails on FreeBSD Error: incorrect header check at Zlib"
events.js:72
        throw er; // Unhandled 'error' event
              ^
Error: incorrect header check
  at Zlib._binding.onerror (zlib.js:296:17)

[2015-02-02 21:38] benogle opened #283 "Better error in publish when tag is local and not pushed"
See https://github.com/leejarvis/block-travel/issues/9#issuecomment-71793513 He had a tag, but it wasnt pushed:

Ran apm publish which expects that you haven't created the tag already. I created version 1.0.1 to circumvent this and then got prompted for my username and password, which, although completely valid, I get an error for:

[code]

Can I tell it to use git@github.com:leejarvis/block-trave

[2015-02-03 00:25] dsandstrom commented on #170
Re: Ignore installed packages.  Something like [pacman's --needed](https://www.archlinux.org/pacman/pacman.8.html#_upgrade_options_apply_to_em_s_em_and_em_u_em_a_id_uo_a) would be cool.

[2015-02-03 01:52] thedaniel opened #284 "Print out helpful documentation for `apm owners` commands"
I'm not sure we make it clear enough that package publishing is tied to GitHub repo permissions. Perhaps we could make it easier for people familiar with e.g. `npm owners add` by printing out a paragraph of documentation if that command is tried? Happy to implement if no one has major objections.

[2015-02-03 01:54] kevinsawicki commented on #284
Sounds good to me.

[2015-02-03 14:23] despairblue commented on #170
Brilliant idea!

[2015-02-03 19:15] jackmaney commented on #255
I upgraded to 0.177.0, and of the extensions above, everything updates except for Linter Clang and Markdown Preview Plus. The stack traces seem to be different enough for those two packages, that I'll investigate them separately (and, if necessary, create separate issues for those repos).

Thank you so much for your help!

[2015-02-03 19:17] kevinsawicki commented on #255
Awesome, thanks for the update.

[2015-02-04 19:24] abe33 opened #286 "apm update do nothing and never terminate"
I think this issue started at the end of the past week, neither `apm update` nor `apm upgrade` works for me.
The commands starts and never terminate. I mean I can leave them for hours and I'll never get any output, and the command never exit. I think I had once a `socket hang up` error appearing, but only once doesn't help here to be sure that this is the issue.
What's weird is that some other com

[2015-02-04 19:27] kevinsawicki commented on #286
Are you using a proxy? Either via your `~/.atom/.apmrc` file or via proxy environment variables?

[2015-02-05 09:00] abe33 commented on #286
No, no proxy environment, no `.apmrc` file. I've also checked my firewall, but I didn't changed anything recently.

I must say I have this issue only at home, what can I try to test if it's an issue with my connection?

[2015-02-05 16:51] kevinsawicki commented on #286
Does `apm featured` complete in a reasonable amount of time?

[2015-02-05 19:26] kevinsawicki commented on #286
I just pushed a `--verbose` option to `apm upgrade`.

So if you want to clone this repo, run `npm install`, run `grunt`, then run `bin/apm upgrade --verbose` you should see lots of output as requests are made.

[2015-02-06 08:44] abe33 commented on #286
Ok, so, yesterday everything was working fine again, I just doesn't understand what happened during these few days.
If the situation occurs again I'll make sure to monitor my computer traffic and to use `--verbose`.

Thank you for the time you spent on this and sorry for the bother. I'll close this for now.

[2015-02-06 08:44] #286 closed

[2015-02-06 19:55] travs opened #288 "Packages depending on other (Atom) packages"
I'll raise this here, but if another repo is more appropriate please redirect me.

Note that there is [some interest](https://discuss.atom.io/t/depending-on-other-packages/2360) in having the ability to have Atom packages depend on other Atom packages, and not just NPM packages.

I have created [a NPM package](https://github.com/travs/atom-package-dependencies) to do this, but it is roundabout, an

[2015-02-07 00:27] thedaniel commented on #288
This is something that I think @atom/core wants, but isn't currently working on. There's more discussion on #120 and atom/atom#2412 - I haven't been working on it directly myself but I think the TL;DR is that it will be based on / inspired by service dependencies which are discussed in atom/atom#5165 and now in core to some extent.

[2015-02-07 00:32] nathansobo commented on #288
I actually think that packages shouldn't be depending on other packages, and instead only depending on other *services*. That allows any package to step in and fulfill a particular service and avoids calcification in the package-dependency graph. However, I do think it's important that we do a better job communicating etiquette around service namespacing if we want to pull this off.

[2015-02-07 22:47] olmokramer opened #289 "Package install fails"
I'm getting this error: `No available version compatible with the installed Atom version: 0.177.0` after I ran `apm install distraction-free-mode`. I am indeed on Atom v0.177.0, and the `distraction-free-mode`s `package.json` has:
[code]
So my version of atom should be compatible with the package and apm should install it. Installing it through the settings view in atom worked fine, though.

[2015-02-07 22:53] izuzak commented on #289
It's a problem with the semver which is validated by apm, should be fixed by https://github.com/braver/distraction-free-mode/pull/1.

[2015-02-07 22:53] #289 closed

[2015-02-07 22:56] olmokramer commented on #289
Good to know. Thanks for the information :)

[2015-02-09 10:31] matthojo opened #290 "`apm publish` cannot find Git tag"
## Problem
When trying to publish an update to the https://github.com/matthojo/language-stylus Atom package, I keep getting an error saying `Creating new version failed: Git tag not found`. This happens when using both `npm publish patch` and also `npm publish --tag v0.5.1`.

The tags are present locally an online and are also created and pushed when using `npm publish`.
![screen shot 2015-02-09 a

[2015-02-09 14:09] izuzak opened #291 "engines.atom semver not validated before publishing a version of a package"
It's possible to publish a package version with an invalid `engines.atom` semver in the package.json, which causes problems like these https://github.com/atom/atom/pull/5417.

Wondering if we could+should validate that semver while publishing a package version (and perhaps other semvers listed in package.json?) and block publishing if the semver is invalid. :thought_balloon:

[2015-02-09 17:04] kevinsawicki commented on #291
Sounds good

[2015-02-09 18:05] kevinsawicki commented on #290
/cc @thedaniel Any ideas why atom.io can't find this tag? Looks like it is definitely in the repo, https://github.com/matthojo/language-stylus/tree/v0.5.1

[2015-02-09 18:08] matthojo commented on #290
I just tried again with a newer tag, but still doesn't work ( https://github.com/matthojo/language-stylus/tree/v0.5.2).

Thanks for the quick response.

[2015-02-10 16:38] izuzak commented on #290
@matthojo Seems like you changed the name of the package from `stylus` to `language-stylus`:

https://github.com/matthojo/language-stylus/commit/bf2103c62fb88c1124de49528665baea2040b7c9

However, there's already a package under that name:

https://atom.io/packages/language-stylus

https://github.com/devongovett/atom-stylus/blob/master/package.json

Since there's [no such tags in that repository](h

[2015-02-10 16:54] izuzak commented on #290
Also, notice that there's an api to change the name of package:

[code]

I haven't used that before, but I'm _guessing_ it would have shown you a different error which would point to the problem more clearly.

[2015-02-10 16:55] matthojo commented on #290
@izuzak Thank you, I have renamed the package back and all is updating fine :+1:

I'll be more observant of renaming to an existing package next time!

Thank you :)

[2015-02-10 16:55] #290 closed

[2015-02-10 18:18] kevinsawicki commented on #227
apm now checks the GitHub for Windows and Git Bash install paths and puts them on the path, this was added in #279

So I think this can be closed now since there is a better error message and better checks for Git already being installed.

[2015-02-10 18:18] #227 closed

[2015-02-10 18:27] #291 closed

[2015-02-11 15:47] mike-pt commented on #282
Any idea how to fix/work around it?

[2015-02-11 18:55] mensinda opened #294 "apm install error - plain npm works"
I want to write a plugin for atom and have a [dependency](https://github.com/saneki/node-toxcore/). Unfortunately [ffi](https://github.com/node-ffi/node-ffi/) (a subdependency) fails to build with apm while `npm install ffi` works.

As far as I know apm calls npm with some command line options, setting the chromium headers. Is it possible to use the default headers?

apm  0.136.0
npm  2.3.0
node 0

[2015-02-11 20:06] kevinsawicki commented on #294
For a native library to load within Atom or Atom Shell, it needs to be compiled against the v8 headers that Atom Shell ships with.

Can you include the output of the build error you are seeing?

[2015-02-11 20:30] mensinda commented on #294
The compile error: https://gist.github.com/mensinda/7445c13f9b21ac2e5ce4

[2015-02-11 22:31] tokejepsen commented on #272
Any news on this? The latest version of apm still produces this error.

[2015-02-12 12:16] izuzak opened #295 "Package: The tern dependency range in the package.json file is invalid:"
_From @tststs on February 12, 2015 9:45_

I used to get a dependency for a package i'm working on via
<code>"tern": "git://github.com/marijnh/tern.git"</code>

There seems to be no way since 0.177 to publish a package with this type of dependency.
<code>The tern dependency range in the package.json file is invalid: git://github.com/marijnh/tern</code>

Per design or issue?

thx
tststs

_Copied fro

[2015-02-12 12:16] izuzak commented on #295
Ahhh, I think I see what's causing problems for you -- as of [recently](https://github.com/atom/apm/pull/292), apm verifies that the semvers used in package.json are valid.

However, a dependency might be defined as a URL and a bunch of other things (I totally forgot about that):

https://docs.npmjs.com/files/package.json#dependencies

/cc @kevinsawicki

[2015-02-12 18:08] LoneBoco opened #296 "Upgrade to at least npm 2.5.1"
There was a regression in npm 2.3.0 that lead to it ignoring the various SSL parameters, so anybody that relied on specifying a custom CA, cert, key, disabling certificate checking, and possibly even using a proxy have been having issues installing packages.  This was fixed in npm 2.5.1, so it would be great if apm could upgrade the version of npm it uses.

[2015-02-12 21:09] mark-hahn opened #297 "apm upgrade specific-package doesn't work in windows"
When I enter `apm upgrade specific-package` I get a list of all packages to upgrade instead of just `specific-package`.

Windows 8.1
atom 0.177.0 (and before)

[2015-02-13 19:17] kevinsawicki commented on #294
Looks like an issue with the [nan](https://github.com/rvagg/nan) version being used.

I think this might be addressed once https://github.com/rvagg/nan/pull/276 ships.

[2015-02-13 19:36] #296 closed

[2015-02-13 19:37] kevinsawicki commented on #296
Thanks for mentioning this, 2.5.1 will be included in the next Atom release, 0.180

[2015-02-14 08:42] mensinda commented on #294
Upgrading nan fixed some compile errors but compiling ffi still [fails](https://gist.github.com/mensinda/3f51326616be5e26c5a2).

It seems to be a ffi issue.

[2015-02-15 02:48] paulcbetts commented on #294
@mensinda To work around this, I created some temporary npm packages:

* ffi-atom-shell
* ref-atom-shell
* ref-struct-atom-shell
* ref-array-atom-shell

[2015-02-15 13:03] silvenon opened #298 "apm develop should default to core.projectHome, not ~/github"
Unless I'm missing something obvious.

[2015-02-15 14:36] mensinda commented on #294
@paulcbetts Thank you! Your packages are working for me.

[2015-02-15 14:36] #294 closed

[2015-02-15 20:46] caleb531 opened #299 "`apm stars --install` reinstalls already-installed packages"
Hi,
I recently discovered Atom and I think it's the greatest thing since sliced bread. I more recently discovered Atom Stars and I think it's pretty neat. I attempted to run `atom stars --install` for myself to see what would happen, assuming that nothing would (because all of my starred packages were already installed).

However, to my surprise, apm attempted to reinstall those packages which alr

[2015-02-16 02:24] mark-hahn opened #300 "bad option: --harmony_collections"
I'm getting this on a windows `npm test`.  The grunt install worked fine.

		C:\Users\Administrator\.atom\dev\apm>npm test

		Running "clean" task

		Running "coffee:glob_to_multiple" (coffee) task

		Running "coffeelint:src" (coffeelint) task

		Running "coffeelint:test" (coffeelint) task

		Running "coffeelint:gruntfile" (coffeelint) task

		Running "shell:test" (shell) task
		node: bad option:

[2015-02-16 20:19] mark-hahn opened #301 "package.json github dependency broken"
*This is somewhat important as I can't publish my package ...*

This is my package.json file ...

[code]

Each of these github dependency formats gives an error when I do `apm publish --tag 0.1.11`.  The first one has worked in the past and just now broke.

    The vtlf-file-picker dependency range in the package.json file is invalid: mark-hahn/vtlf-file-picker#0.1.3
    The vtlf-file-picker depen

[2015-02-16 20:20] mark-hahn commented on #301
Also, doing an `npm update` worked.

[2015-02-16 20:39] mark-hahn opened #302 "APM access to github help needed"
I think I'm having problems with my APM accessing my github account.  Package.json dependencies like ` "vtlf-file-picker":  "mark-hahn/vtlf-file-picker#0.1.3"` are getting the error `The vtlf-file-picker dependency range in the package.json file is invalid`.  See https://github.com/atom/apm/issues/301.

How do I check and fix APM access to github?

[2015-02-16 20:39] mark-hahn commented on #301
closed in favor of https://github.com/atom/apm/issues/302

[2015-02-16 20:39] #301 closed

[2015-02-16 20:44] izuzak commented on #302
Duplicate of https://github.com/atom/apm/issues/295, I believe.

[2015-02-16 21:24] thedaniel commented on #299
Thanks for the feedback! I'm going to close this as I think it's a duplicate of #170.

[2015-02-16 21:24] #299 closed

[2015-02-17 11:04] boustanihani opened #303 "Feature request: Sorting Packages & Themes"
Could you please **allow sorting** search results on https://atom.io/packages & https://atom.io/themes by the **number of downloads** and the **number of stars** ?

And maybe also inside the Atom Editor...

[2015-02-17 11:32] pwaring commented on #266
I've noticed this as well. It might also be worth making clear on any downloads page that only 64-bit builds are supported for Linux - it's a bit frustrating to follow all the links and then find out that 'Linux support' actually means '64-bit Linux for x86' (e.g. it won't run on a Raspberry Pi).

[2015-02-17 14:28] xlaywan opened #304 "Cannot unpublish package"
The first publication was interrupted by the error. And now i cannot both unpublish package and push new version. On github repo is exists, but on atom.io there is only name, but not a readme and other files.

Package visible on atom.io but doesn't in Settings View -> Install.

Now I tried to create a new package, publish and unpublish were successful. Can someone manually remove transpiler packag

[2015-02-17 17:25] #295 closed

[2015-02-17 17:29] MayhemYDG commented on #295
https://docs.npmjs.com/files/package.json#dependencies
I hope apm will support ALL types of valid dependencies at some point like npm?

[2015-02-17 17:41] #297 closed

[2015-02-17 17:45] kevinsawicki commented on #295
I believe it should

[2015-02-17 17:49] #300 closed

[2015-02-18 01:16] thedaniel commented on #304
I'd ideally like to get to the bottom of this error but I will unpublish the package now. If this happens again, reopen the issue and we'll try to investigate further.

[2015-02-18 01:16] #304 closed

[2015-02-18 03:30] xlaywan commented on #304
Again.

I deleted old repo from github. I deleted .git directory from project.
git init, add, commit, remote add, push
apm publish

[code]

win7
apm  0.137.0
npm  2.3.0
node 0.10.35
python
git 1.9.5.msysgit.0
visual studio

[2015-02-18 04:06] mark-hahn opened #305 "npm test fails"

[2015-02-18 04:15] mark-hahn commented on #305
BTW, I am trying to get APM in dev mode so I can do a PR to be able to globally disable colors in my terminal.  Two questions ...

- Is it already possible to globally disable color?

- Should I work on a PR if I can't get tests to pass first?

[2015-02-18 10:47] kotfilemon opened #306 "Cannot install a package on Windows 8.1"
Hello,

I am having problems with installing anything on my windows 8.1 box with apm.

My setup: Python 2.6 (but also tried with 2.7), git, Visual Studio 2013. I tried installing with

a) setting switch --msvs_version=2013
b) setting variable to set VCTargetsPath=C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V120

Please, see the output:

C:\>apm install api-blueprint-preview

 runas@1.1.0 ins

[2015-02-18 15:15] thorade opened #307 "grammar created using apm is not compatible with lightshow"
I used apm to convert a TextMate Bundle into an atom package as described here:
https://atom.io/docs/latest/converting-a-text-mate-bundle
The resulting package is here:
https://github.com/thorade/atom-language-modelica3
It works nicely in Atom, but when I try to use it with Lightshow, it fails:
https://github.com/thorade/atom-language-modelica3/issues/1
http://bit.ly/1ANxWUe

How much work would i

[2015-02-18 17:18] kevinsawicki commented on #306
This is an issue in that package, it needs to upgrade this line to be `^3.3.1` instead of `~2.0.7`.

https://github.com/danielgtaylor/atom-api-blueprint-preview/blob/9e3948f5a58fe571aa7fb0eddd99d5a0502e2126/package.json#L13

I would recommend opening an issue or pull request on that package's repo: https://github.com/danielgtaylor/atom-api-blueprint-preview/issues/new

[2015-02-18 17:18] #306 closed

[2015-02-20 00:48] T0T4R4 opened #308 "cannot modify the .apmrc file"
After installing atom via Chocolatey in Windows (7), each time atom is launched it overwrites the
.atom/.apm/.apmrc
file, thus making impossible any configuration changes.

This is particularly annoying when behind a proxy as browsing packages do not work.

Quick solution is to make this file ReadOnly but this should be fixed.

Thanks

[2015-02-20 10:00] kotfilemon commented on #306
Please, reopen.

Upgrading to ^3.3.1 didnot help

[2015-02-20 16:40] kevinsawicki commented on #308
Your local config file is `~/.atom/.apmrc`, the global config file is `~/.atom/.apm/.apmrc`.

You need to edit `~/.atom/.apmrc` instead.

[2015-02-20 16:40] #308 closed

[2015-02-20 23:53] kevinsawicki commented on #307
Looks like Lightshow only detects CSON based grammars if they start with a `'` or `"` character,

I forked your repo and updated the grammar to start with a `'` and it appears to work:

https://github-lightshow.herokuapp.com/?utf8=%E2%9C%93&scope=from-url&grammar_url=https%3A%2F%2Fgithub.com%2Fkevinsawicki%2Fatom-language-modelica3%2Fblob%2Fmaster%2Fgrammars%2Fmodelica.cson&grammar_text=&code_sour

[2015-02-22 16:40] thorade commented on #307
Thanks for fixing that. If you send me a Pull Request I'll merge it.
Do you think it is possible to also change apm so that it inserts these single quotes automatically?
Or is it Lightshow that needs fixing?

[2015-02-23 09:50] michaelkrnac opened #309 "Installing of packages failed"
Atom 0.182.0
Windows 7

When i try to install any package atom outputs:
[code]

apm install --check outputs:

[code]
Version:

[code]
I deinstalled atom, removed all atom folders an reinstalled again but without success.

[2015-02-23 17:02] DavidA2014 commented on #309
On my Win 8.1 machine, I did a fresh install of Atom 0.182. Then a download of atom_beautify failed:

Installing “atom-beautify@0.21.3” failed.Hide output…

npm ERR! git clone git://github.com/ariya/esprima.git Cloning into bare repository 'C:\Users\<snip>\.atom\.apm\_git-remotes\git-github-com-ariya-esprima-git-9077e517'...
npm ERR! git clone git://github.com/ariya/esprima.git fatal: unable to co

[2015-02-23 17:29] kevinsawicki commented on #307
Probably not, I think consistency is important and since some properties (like those containing a `-`) will need it, it is nice to consistently have it.

Lightshow could definitely do a better job detecting CSON/JSON files.

[2015-02-23 20:50] yimingli opened #310 ""apm stars --install" error"
Atom 0.182.0 installed by brew-cask
Mac Yosemite 10.10.2
[code]

[code]

[2015-02-23 21:17] #309 closed

[2015-02-24 10:41] adicirstei opened #311 "`apm install --check` TypeError: Cannot read property 'config' of undefined"
Hi,

When I try to check if everything is installed and configured properly for `apm` to run, I get the bellow error. Any Idea what is going wrong?

Thanks!
[code]

[2015-02-24 11:03] jbt opened #312 "Bundle iojs instead of node v0.10.35?"
Currently scripts/download-node.js pulls node v0.10.35 from nodejs.org. This is causing various errors like atom/atom#3783 when it tries to grab a build that doesn't exist (e.g. armv7l) which just returns a 404. (I think this might be causing #282 as well)

I'm guessing it wouldn't _technically_ be too hard to swap out nodejs for iojs (which distributes binaries for a whole pile more architectures

[2015-02-24 11:07] pwaring commented on #312
Is there any reason to pull node at all? I already have it installed on my machines so pulling it down again seems a bit pointless, unless I'm missing something.

[2015-02-24 16:49] kevinsawicki commented on #312
So apm works for people who don't have node already installed.

[2015-02-24 18:40] pwaring commented on #312
I'm still not sure why you would do that - pretty much every other piece of software requires you to have dependencies installed beforehand. Why not just refuse to build if node isn't already installed?

[2015-02-24 18:43] yimingli commented on #310
The problem seems to be the package `term2`. I'm closing this.

[2015-02-24 18:43] #310 closed

[2015-02-24 18:44] kevinsawicki commented on #312
It isn't about building, it is about installing, you wouldn't be able to install atom packages or themes without node installed first. It is really convenient to be able to install Atom and immediately be able to install packages and themes without having to download and run another installer.

Also apm ships prebuilt native modules, so shipping a specific node version that the native modules are

[2015-02-24 19:12] thedaniel commented on #312
It's not likely we'll put a ton of effort in right now to support ARM specifically, but if someone wants to open a PR to switch from node->io.js we'll certainly review it and help make sure it doesn't cause breakage.

[2015-02-24 19:25] jbt commented on #312
I can have a go at that - but is there anything in particular that's likely to explode when switching to iojs? (I haven't quite got my head around all the moving parts so I don't know what I should be looking out for)

[2015-02-24 19:28] kevinsawicki commented on #312
I'm really unsure about this which is why I hesitate to switch it.

[2015-02-24 19:29] pwaring commented on #312
I'm very happy to test on ARM - I think it's an important architecture given the rise of small computing devices (e.g. the Raspberry Pi has shipped over 5 million units).

[2015-02-24 19:51] thedaniel commented on #312
5 million raspis working together can only run about 1 million instances of chromium though ;)

[2015-02-24 20:30] thedaniel commented on #272
Sorry about this, I suspect it's related to a bug connected to unpublishing packages. That is to say, someone in the past published `nuke` and then unpublished it, and the API gives a bad/useless error message.

[2015-02-24 20:38] tokejepsen commented on #272
ahh, does that mean I should find another name for the package? or wait for a fix?

[2015-02-24 20:41] thedaniel commented on #272
I have some security concerns about packages being unpublished and then the name taken by something else,  leading to users with the old packages getting auto-updated to completely unrelated code (because the API only distinguishes unique packages by name right now) so I would suggest finding a new name. I don't know if/when we will find the time to address the issue. We'll definitely make the err

[2015-02-24 20:41] #272 closed

[2015-02-24 20:42] jbt commented on #312
Turns out it's quite easy to get scripts/download-node.js to pull iojs (just change a few urls and filenames like I thought)

Unfortunately, I can't for the life of me figure out how to persuade node-gyp to build the native modules specifically against that node/iojs version, which isn't the one with which the node-gyp is invoked (the `--target` param used in atom's [script/bootstrap](https://gith

[2015-02-24 20:42] thedaniel commented on #273
That page is now case-insensitive. At some point in the near future I'll update it to make sure it uses the user-provided casing regardless of how the URL is capitalized (at the moment it just takes the URL param and throws it in the HTML)

[2015-02-24 20:42] #273 closed

[2015-02-25 18:48] kevinsawicki opened #313 "Add comment to ~/.atom/.apm/.apmrc about it not being editable"
The editable file goes in `~/.atom/.apmrc` but people are editing their global apm rc file in `~/.atom/.apm/.apmrc` which shouldn't be edited and gets wiped out on updates

[2015-02-25 21:22] kevinsawicki commented on #311
This is a duplicate of #309 and should be fixed and released in the latest Atom version, 0.183

[2015-02-25 21:22] #311 closed

[2015-02-26 01:23] thedaniel commented on #313
Might be worth also changing the name, people assume they can edit dotfiles in their home directories. A global config file would be in something like, i dunno, `/etc/atom/apmr` and then overridden in `~/.apmrc` on linux

[2015-02-26 16:39] kevinsawicki commented on #313
Yeah, I picked the current location since I knew it would be writable, other traditional locations might require `sudo`.

[2015-02-27 13:20] papermoon1978 opened #315 "Apm username/password for github"
Maybe you'll find also some details in the following discussion: https://discuss.atom.io/t/apm-username-password-for-github/15153

I just released my very first plugin. Everything worked quite well but when running "apm publish minor" the process hung forever at "Pushing v0.1.0 tag". No blinking cursor, no hint what's going on, no nothing. After some trial and error and starting apm over and over

[2015-02-27 15:36] deepak1556 commented on #312
updated apm to use v0.12.0, successfully built both atom and atom-shell with the changes https://github.com/deepak1556/apm , only blocker are the failing shell-test #305 . @kevinsawicki any thoughts on it ?

[2015-02-27 16:46] kevinsawicki commented on #312
The way `script/build` works in atom/atom is that apm is built and bundled at that point. So I would think this line: https://github.com/atom/atom/blob/42d750f02a46fbe3f489e371b3730065c6ec0bb0/script/bootstrap#L67 would have to change in order for apm's native modules to be built against the right target such that they are runnable in node 0.12.

So if that line is changed, I'd be curious if Atom'

[2015-02-27 19:04] deepak1556 commented on #312
archlinux x86_64
[code]

@kevinsawicki built atom successfully with https://github.com/deepak1556/atom/commit/08554464d127307f7139369fc65bcb967c2179cd . Away from windows machine , so couldnt test this there but i hardly doubt there will be a platfrom dependent bug here ;)

[2015-02-27 20:38] kevinsawicki commented on #315
So doing a `git push` from that repository prompts for your username/password?

[2015-02-27 21:06] papermoon1978 commented on #315
Well ... I can definitely answer this not before Monday, because I have currently no access to this PC, but yes ... I think so. While developing my new atom package I followed the instructions and so I installed the Github Windows client. Therefore I've never touched the git cmdline in this repository yet. I've a few other git repositories and everytime when I do a ```git push``` I am asked to ent

[2015-03-02 05:52] papermoon1978 commented on #315
Ok, tried it today. You are right  ```git push ``` was prompting for username and password. See it here ...

![apm](https://cloud.githubusercontent.com/assets/4062007/6435968/2a969bea-c0a8-11e4-8251-a88c5dc8a523.png)

at ``` pushing 0.4.1 tag ``` nothing happened, so I typed username and password and the process continued

[2015-03-04 11:39] saschaeggi commented on #221
Same problem here. The git repo doesn't exist anymore and I can't unpublish the package now. But it also didn't worked when I recreated the repo again.

[2015-03-04 21:36] thedaniel commented on #221
This is a common problem. Package permissions are tied to repo permissions and we don't do a very good job of communicating that.

[2015-03-05 22:13] thedaniel commented on #73
@erikdahlstrom oh my, I'm so sorry that I let this sit for months - I think I missed it because the issue was closed. Since your last comment some changes were made to the backend that either should a) make it just work or b) make it easy for me to fix it up for you

[2015-03-06 13:45] erikdahlstrom commented on #73
@thedaniel no worries, it seems to work now, just published an updated package, thank you.

[2015-03-06 23:04] basarat commented on #295
But it doesn't. ref https://github.com/TypeStrong/atom-typescript/issues/163

[2015-03-06 23:06] basarat commented on #302
@izuzak the fix there only solved it for `git:` urls and not `mark-hahn/vtlf-file-picker#0.1.3` style dependencies. Either reopen this or reopen this or suggest me to create a new issue please :heart:

refs : https://github.com/TypeStrong/atom-typescript/issues/163

[2015-03-06 23:06] basarat commented on #301
This flavor of dependency is still broken

[2015-03-06 23:11] mark-hahn commented on #301
See #302.

[2015-03-07 10:13] izuzak commented on #302
Sure, reopened this, thanks @basarat. In the meantime, using a full URL should work.

/cc @kevinsawicki

[2015-03-07 23:01] basarat commented on #302
@mark-hahn perhaps copy edit the title. APM : github "username/repo#tag" style URLs in package.json don't work.

[2015-03-08 07:46] maxbrunsfeld opened #317 "rebuild command should pass args through to npm rebuild"
It'd be nice to be able to pass package names as arguments to `apm rebuild` like you can with `npm rebuild`. When developing a package with multiple native dependencies, thath would allow you to make a change to one of the dependencies and recompile it without recompiling all of the others.

[2015-03-09 12:01] jegtnes opened #318 "Installing starred packages and re-authenticating"
Hey there, apm.

I'm setting up a fresh state on my machine at the moment, and wanted to install all my starred packages. However, I copy/pasted my API key wrong when prompted, and now I'm unable to authenticate with the API at all, only ever receiving the error message `Requesting packages failed: Requires authentication`. Is there a way to re-authenticate with apm on the command line? I was unab

[2015-03-10 00:05] thedaniel commented on #318
You can just run `apm login` again - let me know if that doesn't work and we can reopen this issue in that case.

[2015-03-10 00:05] #318 closed

[2015-03-10 11:36] tststs opened #319 "Dependencies (package.json): 406 with http/https"
I don't know, if this is related to apm. If i'm using http/https for a repo in package.json, the result is always 406.

<strong>is:</strong>
package.json:
[code]

<strong>should:</strong>
package.json:
[code]
npm ERR! fetch failed https://github.com/marijnh/tern.git
npm WARN retry will retry, error on last attempt: Error: fetch failed with status code 406
npm ERR! fetch failed https://github.com/m

[2015-03-10 22:54] thedaniel commented on #319
I'm pretty sure you need to drop the `.git` from the end of the `https` url

[2015-03-10 23:50] izuzak commented on #319
This also sounds very similar to an npm issue: https://github.com/npm/npm/issues/7560

Can you install any npm packages with `npm install`?

[2015-03-11 09:04] abe33 opened #320 "Add support for `--compatible x.y.z` option when running `apm view pkg`"
See atom/settings-view#377 for the original issue regarding installation of incompatible packages through the `settings-view`.

Actually there's no command to see which version of a package is compatible with a given Atom version.

[2015-03-11 11:43] tststs commented on #319
Seems to be a problem with ```node 0.12.0```. I'm not able to install any package via ```https```.
I also tried to remove everything related to ```node``` and ```npm```and made a fresh install with ```brew```. Still a 406 with ```apm``` and ```npm```.

[2015-03-13 01:17] zephraph commented on #277
I think showing the last updated date is pretty important. Seeing the version and downloads is great because it gives you a sense of maturity and popularity. It doesn't tell you the age of a package though.

For example, I was looking for a terminal package the other day. There are several of them out there, but most of them are really dated and no longer work. The only way I found that out was be

[2015-03-13 01:38] thedaniel commented on #277
I haven't looked at it, I've been at HQ all week doing a bunch of planning
& meetings and non-coding work. Next week I plan to pick up all these
dropped threads and get to codin' and mergin'

On Thu, Mar 12, 2015 at 6:17 PM, Zephraph <notifications@github.com> wrote:

[2015-03-13 03:51] zephraph commented on #277
I created a sister issue for this in settings-view. I really, really think this would be useful man.

[2015-03-13 14:34] marcuslindfeldt opened #322 "Unable to install packages behind corporate proxy"
I get the following error when trying to install a package with apm behind a corporate proxy.

[code]

All proxy settings should be correct and it worked perfectly in earlier versions.

[code]

[2015-03-13 16:08] slang800 opened #323 "issue installing package with same name as dep"
I made a package called [tidy-markdown](https://atom.io/packages/tidy-markdown), that depends on an npm package of the [same name](https://github.com/slang800/tidy-markdown) (and currently the same version too). The atom package is just a thin wrapper around the npm package, so it didn't seem like it should have a different name, and I certainly didn't want to add a "atom-" prefix to the actual pa

[2015-03-16 09:18] AnthraxBass commented on #190
Hi ! I think that I have related issue:

each time I'm trying to update the following file '%USERPROFILE%\.atom\.apm\.apmrc' with the value of my proxy, and to verify this by executing 'apm config get https-proxy' I can see that my proxy is being erased from the .apmrc.

Is there a workaround?

[2015-03-16 16:20] StevenACoffman opened #325 "apm update without --confirm requires confirmation but there is no --force"
Hello,
When I run:
[code]
I get:
[code]
However, I cannot run apm --force to skip the confirmation for a non-interactive update.

[2015-03-16 16:22] kevinsawicki commented on #325
Have you tried `apm update --confirm`?

[2015-03-16 16:22] kevinsawicki commented on #325
Sorry, I mean `apm update --no-confirm`?

[2015-03-16 16:33] StevenACoffman commented on #325
Nope, apm help update didn't show that as an option, and now I don't have anything in need of updating. Assuming that works, can `apm help update` or `apm help upgrade` show this option?

[2015-03-16 16:35] kevinsawicki commented on #325
Yeah, it should show `--confirm` as an option that defaults to true, all arguments support a `no-` prefix to toggle them to false such as `--no-color` to disable terminal colors.

[2015-03-16 16:41] StevenACoffman commented on #325
Thanks! Could you add `All arguments support a 'no-' prefix to toggle them to false such as --no-color to disable terminal colors.` to the end of `apm help <command>`? That might help other people who don't know about it.

[2015-03-16 16:41] #325 closed

[2015-03-16 16:43] kevinsawicki commented on #325
Absolutely, great idea, will add this now, sorry for the confusion.

[2015-03-16 17:08] kevinsawicki commented on #325
Added in https://github.com/atom/apm/commit/888594366742885467fe13d01479d4f963758f66, thanks for bringing this up

[2015-03-16 17:17] #317 closed

[2015-03-16 17:19] maxbrunsfeld commented on #317
:sparkles:

[2015-03-16 17:27] #313 closed

[2015-03-16 17:29] kevinsawicki commented on #322
Could you try running `apm config ls` and verify the proxy settings there look correct?

[2015-03-16 21:33] #320 closed

[2015-03-16 21:36] kevinsawicki commented on #320
This will be in Atom 0.188

[2015-03-17 08:53] abe33 commented on #320
:clap: Good news, I'll update the PR on settings-view

[2015-03-17 09:56] marcuslindfeldt commented on #322
They seem fine to me and i haven't changed them between versions.

[code]

[2015-03-19 09:14] superbob commented on #322
Same here when trying to install `Sublime-Style-Column-Selection` :
[code]

[code]

[code]

[2015-03-19 15:03] travs commented on #288
@nathansobo
I can see where you're coming from with that, and I agree with having clear guidelines for namespacing.

Where is the main discussion on services taking place? I checked out `atom/service-hub` but there doesn't seem to be much going on in the issues there.

[2015-03-19 15:20] zephraph commented on #288
What's the distribution method for a service? Also, is there any documentation on services besides the uses text detailed in the readme on [atom/service-hub](https://github.com/atom/service-hub)?

I completely agree with you @nathansobo, packages shouldn't be a dependency, but I don't think people even know that services are an option. I honestly didn't. As a matter of fact, I didn't even know wha

[2015-03-19 16:55] nathansobo commented on #288
We've had a blog post that's been on hold for weeks due to a series of minor fixes. @jlord @maxbrunsfeld are we ready to publish that post now? Would be nice to add a section to the documentation as well, but we can probably crowd source that once the article is out.

[2015-03-19 17:34] jlord commented on #288
@nathansobo I've got a tracking issue for all the little parts here: https://github.com/atom/atom/issues/5726.

Most everything is currently in place, however, we needed to remove the deprecation call for the sake of the tests not freaking out, so the last step is to add it back in after Atom 0.188.0 ships.

The blog post had been on hold so that all this was finalized first and code snippets and

[2015-03-19 17:45] nathansobo commented on #288
Thanks @jlord. I say we wait for 0.188.0 so we are sure to pick the most recent version of a given service.

[2015-03-19 17:49] zephraph commented on #288
Cool, thanks folks. I'm really looking forward to this!

[2015-03-20 17:26] bdefore commented on #319
I'm also having this issue with node 0.12.

[2015-03-21 09:18] izuzak commented on #319
@bdefore @tststs Interesting -- thanks for posting updates here. So you can't reproduce this with node 0.10.x? Also, which OS are you using?

[2015-03-21 17:39] bdefore commented on #319
@izuzak I'm using nvm on OSX 10.10.1 and with a package.json of:

[code]

I get this output from node 0.12 and then 0.10: https://gist.github.com/bdefore/067b7372ad8406f35006

[2015-03-22 14:54] izuzak commented on #319
@bdefore The error you got for the 0.10.x case doesn't look like the 406, but something else. So, using Node 0.10.x for now should help for now. Also, might be worth reporting this over to npm or node, since `npm install` is failing -- what do you think?

[2015-03-26 16:00] Arcath opened #328 "apm does not (appear) to have the same node version as atom"
When installing [node-sass](https://github.com/sass/node-sass) it compiles a binding for your os/node version which it then calls later when you require it.

When install via `apm install` it creates (on my machine) `win32-ia32-node-0.10` which is rightly not my system node version. If i then try to require `node-sass` in my package I get the error that no binding is available and I should re-inst

[2015-03-26 19:37] kevinsawicki commented on #328
apm compiles all native modules against the v8 headers that ship with Atom.

What error are you getting when `node-sass` is required?

[2015-03-26 20:01] kevinsawicki commented on #322
Hmm, I see the command was spawned with `--proxy` and it looks like it properly picked up the value from the config file.

Are either of you building Atom from source? I just added support enabling verbose output from `node-gyp` when running `apm install --verbose`. So if you build Atom yourselves and then ran `apm install <package_name> --verbose` using apm 0.151+ it should include confirmation t

[2015-03-26 20:32] Arcath commented on #328
The error is

`libsass` bindings not found. Try reinstalling `node-sass`

[2015-03-27 07:51] michaelkrnac commented on #322
Same problem here:
[code]

[code]
Iam also behind a proxy

[2015-03-30 17:54] kevinsawicki opened #331 "Fail apm test when deprecations exist"

[2015-03-31 17:26] tinloaf opened #332 "apm help publish crashes"
I'm using atom from current git, i.e.:

[code]

This happens when I try to get help on publish:

[code]

[2015-03-31 17:46] Fank commented on #332
Confirmed:

c:\Users\Fank\AppData\Local\atom\app-0.188.0\resources\app\apm\lib\apm-cli.js:217
            return new Command().showHelp(options.commandArgs);
                                 ^
TypeError: Object #<Publish> has no method 'showHelp'
    at Object.module.exports.run (c:\Users\Fank\AppData\Local\atom\app-0.188.0\resources\app\apm\lib\apm-cli.js:217:34)
    at Object.<anonymous> (c:\Use

[2015-03-31 18:03] #332 closed

[2015-03-31 18:06] kevinsawicki commented on #332
Thanks for reporting this, fixed on atom/atom master now.

[2015-04-02 20:57] kevinsawicki opened #333 "Add retries when downloading package tarballs"
Retry errors of the type `Unable to download https://www.atom.io/api/packages/package-generator/versions/0.38.0/tarball: 503` similar to the retries added when requesting package information

[2015-04-03 16:29] benogle opened #334 "Engines field not respected when upgrading package"
Autocomplete has the [engines field](https://github.com/atom-community/autocomplete-plus/blob/f8cac61d045a1ef4440d0bb0351490f9a8f710de/package.json#L8) set to `>=189`, but was allowed to be upgraded on version 188, resulting in https://github.com/atom-community/autocomplete-plus/issues/352

Not sure where the version check is supposed to be done, but assuming `apm`.

[2015-04-03 16:37] izuzak commented on #334
@benogle  I think this is a duplicate of https://github.com/atom/settings-view/pull/377. apm does check the engines field if you're installing with `apm install`, but settings view doesn't currently.

[2015-04-03 23:53] benogle commented on #334
Ah noted. Feel free to close. That other pr should be merged at some point

On Friday, April 3, 2015, Ivan Žužak <notifications@github.com> wrote:

[2015-04-04 02:42] mark-hahn opened #335 "I can't get past gnome-keyring unless I'm in a desktop"
When I have no desktop running and I do `apm starred` or `apm publish` it asks for the token over and over and the publish doesn't work (starred does).  In the desktop I get a pop-up asking for the keyring password and then it works.

I've tried setting `ATOM_ACCESS_TOKEN` with no luck.  I've also tried setting the keyring password to blank.

Is there any way to tell apm to just not use the keyrin

[2015-04-04 05:38] thomasjo commented on #335
Is the `gnome-keyring` daemon running?

---
Please provide some more context and/or details next time. Since I came here directly from the [discussion on Discuss](https://discuss.atom.io/t/apm-wont-take-my-token/15930) I know the details about this running on a Chromebook etc, but hardly anyone else would have that context.

[2015-04-04 05:51] mark-hahn commented on #335
sorry, I'm usually better at this.

There is no daemon running.  Googling `gnome-keyring-daemon` gave instructions way over my head.  Can't I just use something like `ATOM_ACCESS_TOKEN`?

[2015-04-04 06:01] thomasjo commented on #335
Judging from [the relevant source code](https://github.com/atom/apm/blob/5242586a0f8721934f3395fd5712a4c20bf60623/src/auth.coffee#L20), it does look like that should work regardless of `gnome-keyring`. How did you set `ATOM_ACCESS_TOKEN`?

[2015-04-04 06:10] mark-hahn commented on #335
I did  ...

[code]

I sure hope I'm not doing some really stupid linux-newbie thing.

[2015-04-04 06:22] mark-hahn commented on #335
Damn.  It was a newbie thing.  Adding `export ATOM_ACCESS_TOKEN` fixed it.  Now I need to study up on what `export` means.

I'm truly sorry for the trouble.

[2015-04-04 06:22] #335 closed

[2015-04-04 06:30] thomasjo commented on #335
Glad it got sorted!

`export` makes a variable available to child processes. See http://www.gnu.org/software/bash/manual/bash.html#index-export.

[2015-04-06 10:34] bpasero commented on #220
@kevinsawicki did you guys do something about it? I think I dont see this anymore with APM 0.157

[2015-04-06 13:39] chapgaga opened #336 "failed to install apm, the error is that the file name is too long?"
![](http://img.itc.cn/photo/jfSQY8z3SjX)

http://img.itc.cn/photo/jfSQY8z3SjX.jpg

[2015-04-07 09:14] h-no commented on #322
For me this problem started today, Atom was updated to 0.189.0 (installed via webupd8 ppa) and when I tried to update my packages I got this error.
[code]
[code]
[code]

[2015-04-07 09:16] h-no commented on #322
Installing a new package with --verbose
(apm  0.157.0)
[code]

[2015-04-07 09:35] noseglid commented on #322
+1 what @h-no said. I have the exact same error.

[2015-04-07 12:23] wmira commented on #322
Getting this as well. Im behind a proxy and have correct config. I can browse packages from atom but install throws the gyp error.

[2015-04-07 12:45] wsouto commented on #322
Same here. Can browse and search packages, but not install. The error is the same of everybody.

[2015-04-08 07:13] Bjoernsen opened #337 "apm install: 500 status code downloading tarball"
Since this week, I am not able to install any package using `apm install`. e.g. 'minimap'.
My apm tries to get the file https://atom.io/download/atom-shell/v0.22.0/node-v0.22.0.tar.gz and gets redirect to Amazon (http://gh-contractor-zcbenz.s3.amazonaws.com/atom-shell/dist/v0.22.0/node-v0.22.0.tar.gz).
When I try to get the file via wget, it works.

Maybe the problem is that apm gets redirected fr

[2015-04-08 09:43] tborychowski commented on #190
@AnthraxBass,
Have you tried:
`apm config set https-proxy https://your-proxy:1234`
The correct path to the `.apmrc` file on windows seems to be: `%USERPROFILE%\.atom\.apmrc`.
This file doesn't exist initially and you need to create it (or use `apm config set ...`).
It was confusing for me too: there's a config file that should not be edited, but the file that should be edited, with the same name,

[2015-04-08 14:53] Fank opened #338 "[Proxy] Error: tunneling socket could not be established"
I can't install packages if proxy is configured.
This happens in atom version >0.188.0 and with every command (install, update ...) or package
[code]

[code]

[code]

I used following commands to set the proxy config:
[code]

[2015-04-08 14:54] Fank commented on #338
0.188.0 fine
0.189.0 error
0.190.0 error

[2015-04-08 15:01] Fank commented on #338
[code]

[2015-04-08 15:07] Fank commented on #338
Here a apm verbose version: https://gist.github.com/Fank/6fe10a0b3596815b0622

[2015-04-08 16:10] kevinsawicki commented on #337
@thedaniel did anything change with the atom.io node URLs? I don't remember any recent apm changes that would have broken this.

[2015-04-08 16:24] thedaniel commented on #337
@kevinsawicki no change to the code that i'm aware of. The scope changed in the oauth token used to make those GitHub API requests but it's still valid - evidenced by that node DL URL working for me/anyone else.

I don't understand in the last bit of output why gyp reports `http 500 https://atom.io/download/atom-shell/v0.22.0/node-v0.22.0.tar.gz` but then still shows output for a connection `http:

[2015-04-09 02:06] fujisaks commented on #322
Same here. Seems like gyp forgets proxy after redirection.
After manually running gyp with modified --disturl to get atom-shell 0.22.0 installed, it's working fine.

[2015-04-09 07:36] RickieL commented on #173
my solution for atom socks proxy as below
[code]

works for me.

[2015-04-09 08:58] postcasio opened #339 "SublimeText 3 syntax conversion"
ST3 has a new syntax format: http://www.sublimetext.com/docs/3/syntax.html

It doesn't appear to be much different conceptually, but is now stored as YAML. It would be nice to support conversion of these in apm.

[2015-04-09 10:55] capaj commented on #288
:+1:

[2015-04-09 13:56] Bjoernsen commented on #337
Is there a way to install https://atom.io/download/atom-shell/v0.22.0/node-v0.22.0.tar.gz manually?
This will not fix my issue, but maybe I am able to update atom packages.

[2015-04-09 17:09] maxbrunsfeld commented on #288
@capaj I think the `autocomplete-plus` use case is addressed very well by the services API. Can you describe what you're trying to do in a little more detail, and explain why it couldn't be achieved with services?

[2015-04-09 20:46] nisargjhaveri commented on #338
Same error with
[code]

[2015-04-09 22:24] h-no commented on #338
Seems like a duplicate of https://github.com/atom/apm/issues/322

[2015-04-10 06:53] dvorka commented on #315
I can confirm this behavior - if you do `apm publish minor` w/o doing `git push` first, `apm` asks for Git credentials and hangs (tried multiple times). Package is published only partially to atom.io (repo and bug links present, BUT no readme is shown and no license link). After pushing using git, `apm` proceeds as expected.

[2015-04-10 10:20] Bjoernsen commented on #337
Our IT temporary disabled the proxy scanning for https://atom.io and *gh-contractor-zcbenz.s3.amazonaws.com*, but without success.

I was told from our IT that I should mention that the https url to https://gh-contractor-zcbenz.s3.amazonaws.com includes `:80`. So it looks like https://gh-contractor-zcbenz.s3.amazonaws.com:80.

[2015-04-11 08:27] Fank commented on #338
Yea its exactly the same issue

[2015-04-11 08:27] #338 closed

[2015-04-13 15:03] curtisalexander opened #340 "CA File"
I am unable to install packages due to the fact that my company is performing MITM attacks and I need to point to a custom cert.  I'm aware of the recommended fix -- set the value
strict-ssl = false -- within my apmrc file; this recommendation works as suggested.

However, I would prefer to set the following option either in an npmrc file or if it were working an apmrc file.

[code]

[2015-04-13 17:59] kevinsawicki commented on #340
I think it is though I've never tried to set a custom one.

`~/.atom/.apmrc`

You can run `apm config ls` to verify which config settings it is picking up and from where.

[2015-04-13 23:39] curtisalexander commented on #340
I have attempted to put the cafile option within the apmrc file but it does not work -- I continue to receive a 'CERT_UNTRUSTED' error whenever I attempt to install packages.

When I run `apm config ls -l`, I get the following:

[code]

Obviously I am utilizing Windows.  As such, I cannot run `npm config ls -l` to look at my global defaults.  `npm` is not on my path currently (I don't have node or

[2015-04-13 23:43] kevinsawicki commented on #340
Can you include the full stack trace from the `CERT_UNTRUSTED` error?

[2015-04-14 17:35] curtisalexander commented on #340
Forgive my ignorance -- from can I grab a full stack trace?

[2015-04-14 17:36] kevinsawicki commented on #340
What is the full output when you run an `apm install` command that fails?

[2015-04-14 17:45] curtisalexander commented on #340
Unfortunately, the error thrown doesn't appear to be helpful.

[code]

[2015-04-14 17:47] kevinsawicki commented on #340
It is, I was curious where it failed and the `Request for package information failed` line tells me, thanks!

[2015-04-16 09:08] noseglid commented on #322
@fujisaks Can you detail how you got this to work? I'm on severly outdated packages now because I can't upgrade.

[2015-04-16 09:27] fujisaks commented on #322
@noseglid OK. Here is what I typed (taken from bash history):
[code]
It bypasses redirection and should make apm work until next atom-shell release.

[2015-04-16 09:47] noseglid commented on #322
@fujisaks Thanks so much. I modified your command for linux and it worked! This is what I did:

    HOME=~/.atom/.node-gyp/ /opt/atom/resources/app/apm/bin/node /opt/atom/resources/app/apm/node_modules/npm/node_modules/node-gyp/bin/node-gyp.js "install" "--target=0.22.0" "--dist-url=http://gh-contractor-zcbenz.s3.amazonaws.com/atom-shell/dist" "--arch=x64" "--ensure" "--verbose" "--proxy=http://pr

[2015-04-16 09:52] Arcath commented on #328
Doing some more testing with the node-sass 3.0.0 beta which uses `{platform}-{arch}-{modules version}` to name its libsass binding. Installed by apm on my machine that results in `win32-ia32-11` but run the same function in atom and I get `win32-ia32-43`.

running `process.versions` in atom:
[code]

run the command `C:\path\to\atom\app-0.192.0\resources\app\apm\bin\node -e 'console.log(process.ver

[2015-04-16 10:30] morberg commented on #322
Thanks @fujisaks  Works like a charm here! The only thing I needed to change was the proxy.

[2015-04-17 06:40] Bjoernsen commented on #322
Thanks @fujisaks This fixes my issue #337.
BTW, I installed Atom using the .deb file (Ubuntu 14.04). I had to change the paths a bit. My command looks like
[code]

[2015-04-17 06:43] Bjoernsen commented on #337
I was able to avoid the issue with a command from #322.
Currently, I am able to update packages again. So I close this issue.

[2015-04-17 06:43] #337 closed

[2015-04-17 08:19] voelzmo commented on #322
Thanks for the workaround guys, having the same problem here after coming back from vacation.

So this issue has been around for a month now, any way to give this some priority? I know, only enterprises suffer from this problem, but not being able to install a single atom package kind of sucks.

[2015-04-17 15:53] tborychowski commented on #322
+1 (and referenced 2 other duplicates)

[2015-04-20 09:02] radum commented on #322
I have been dealing with this issue for a week now and @fujisaks just saved me a total OS reinstall.

I can confirm this is working for Windows 7 x64 also. Had to change the paths of course but it f****** works.

Here are is the command I used using GIT BASH (won't work in CMD or Powershell without some work to update the paths but that should be easy)

Make sure you replace the {...} with your us

[2015-04-20 14:47] lee-dohm opened #341 "Use js-git, libgit2 or GitHub API instead of git.exe for apm publish."
_From @Zoltu on April 20, 2015 14:34_

Currently, apm publish appears to use the command-line git for publishing a new package.  This is problematic for users who do not use command-line git for interacting with git.  There are many tools on the market that allow git interaction without the command line (GitHub for Windows and Visual Studio to name a couple big ones) so not all users have git.exe

[2015-04-20 17:41] tinloaf opened #342 "Submodule not bundled"
Hi,

My package (https://github.com/tinloaf/autocomplete-plus-python-jedi) includes a git submodule for some code that I would like to bundle into the package. Now it seems like that does not work - the folder in which the submodule should be is empty when installing via apm, and so is it in the releases at https://github.com/tinloaf/autocomplete-plus-python-jedi/releases (I assume apm just downlo

[2015-04-21 00:35] lee-dohm commented on #342
apm pushes a tag, which is regarded as a release in the GitHub API. What is typically done for dependencies, even by apm itself, is to create an npm module which can then be installed as a dependency:

https://github.com/atom/apm/blob/master/package.json#L27-L49

This allows one to decouple the dependency management from Git's specific implementation.

[2015-04-21 04:22] thedaniel commented on #342
@tinloaf this is the GitHub API call that is used by the API during package installation: https://developer.github.com/v3/repos/contents/#get-archive-link

While the archive endpoint doesn't include submodules, the Contents API *does* provides information about a repo's submodules. However, supporting this reasonably (and adding the arbitrary number of requests necessary to download submodules) wo

[2015-04-21 04:22] #342 closed

[2015-04-21 12:04] mnquintana commented on #334
I was able to reproduce this with `apm install` – I just deprecated save-session for >=0.193.0, and a new save-session release was published for this, but `apm install` allowed me to install it anyway. I wonder if this has something to do with using a built version of Atom – ie. it's comparing against `0.193.0-1cc5c83` and not `0.193.0`, which is causing the semver version check to not work proper

[2015-04-21 13:43] izuzak commented on #334
@mnquintana I'm not sure I'm following. `0.193.0-1cc5c83` is considered a pre-release of `0.193.0`, so it comes _before_ that version ( `0.193.0-1cc5c83` < `0.193.0`). See my comments here: https://github.com/atom/settings-view/issues/359#issuecomment-93292449. As a result, I think the semver check is working as expected and you were allowed to install the package.

I'm going to close this as a du

[2015-04-21 20:58] mnquintana commented on #334
@izuzak That does make sense, but when I ran this (just in Node):

[code]

it returned `false`. It should return `true` if it's really being treated as a prerelease to 0.193.0.

[2015-04-21 23:51] ctolkien opened #343 "APM publish uses 'origin' remote from git, rather than repo from package.json"
`apm publish X` Will add new tag to origin remote, even if that isn't the correct repo.

The publish process will then fail with 'tag not found' error as the tag doesn't exist in the repo referenced in package.json.

[2015-04-22 00:52] despairblue opened #344 "Could not determine current Atom version installed"
After upgrading to atom 0.193.0 apm cannot find atom anymore.

[code]

Updating packages from within atom works. I've been downgrading to 0.192.0 to make sure that this is a 0.193.0 specific issue, it is.

[2015-04-22 01:12] kevinsawicki commented on #344
What platform are you on?

[2015-04-22 01:24] kevinsawicki commented on #344
Was able to reproduce on Linux and Windows

[2015-04-22 01:26] #344 closed

[2015-04-22 01:27] kevinsawicki commented on #344
Thanks so much for reporting this so quickly :blue_heart:

[2015-04-22 01:38] despairblue commented on #344
Yeah forgot to mention the platform, Linux it was. Thanks for the quick fix
:)

On Wed, Apr 22, 2015, 03:27 Kevin Sawicki <notifications@github.com> wrote:

[2015-04-22 02:15] kevinsawicki commented on #344
0.194 is out with this fixed, please let me know if you still see an issue, I tested on Ubuntu and Windows and it appeared to work correctly.

[2015-04-22 06:21] despairblue commented on #344
0.194.0 works as expected! :clap:

[2015-04-22 14:47] mnquintana commented on #334
This is still an issue - I just tried running `apm install save-session` on Atom 0.194.0, when it has the [following `engines` info](https://github.com/mpeterson2/save-session/blob/master/package.json#L11-L13):

[code]

And apm installed it with no issue.

[2015-04-22 14:53] mnquintana commented on #334
Update: apm actually installed the last compatible version (0.13.5) instead of trying and failing to install the latest incompatible version (0.14.0)

[2015-04-22 14:54] izuzak commented on #334
@mnquintana Can't say I'm not surprised by that :smile:. Thanks for digging into this -- I agree with you that there's something strange going on.

First, going back to your [first comment](https://github.com/atom/apm/issues/334#issuecomment-94762296), I just tried installing that package, save-session, and here's what I see:

[code]

Version 0.13.5 was installed, not 0.14 (the latest version). Ve

[2015-04-23 07:12] Fank commented on #322
Since atom 0.194.0 im unable to update packages through `apm update` same with install.
Here the last lines `$ apm update --verbose`:
[code]

[2015-04-23 15:54] oclbdk commented on #288
How about for sharing UI components?

We have a set of Atom-specific React components that other packages depend on (e.g. text input and combobox components that render to elements like mini `<atom-text-editor>` to maintain consistent styling). If those depend on other UI components in turn, then the tests become a maintenance nightmare -- since tests don't activate any packages by default, we nee

[2015-04-23 16:05] oclbdk commented on #288
I was discussing with @bolinfest and he brought up a good point against using npm modules -- they may be duplicated among many dependent Atom packages, which could cause Atom to reload many of the same stylesheets/keymaps and otherwise swallow up more disk space for the user.

[2015-04-23 16:24] maxbrunsfeld commented on #288
This is a really good point. I'm thinking we could simply have a boolean flag called `activateProviders` on each `consumedServices` entry that indicates whether dependent packages providing the service should automatically be activated when the this package is activated:

[code]

[2015-04-23 16:25] nathansobo commented on #288
@oclbdk Thanks for your thoughts on this the and thoughtful proposal. My thoughts still aren't fully formed on this and I agree that it's an important problem.

I was thinking that our existing `providedServices` and `consumedServices` fields could be used for this, but that you could add a `required` field to any provided or consumed service, indicating a hard dependency. So `required` on a consu

[2015-04-23 19:31] thedaniel commented on #277
I really don't think this is important enough to be present in the package card as Atom stabilizes. How would you feel about replacing "latest version" with the publish date in the tooltip though?

[2015-04-23 20:35] mnquintana commented on #277
@thedaniel I mean, I think that would certainly be better than nothing, but I strongly disagree that it isn't important enough to add to the package card. If you are looking for a new package, regardless of what it is, I think you always want to know at least the following:

- If it's any good (quality)
- If it's maintained

Right now, you can get a sense of "quality" by glancing at the downloads

[2015-04-23 22:19] zephraph commented on #277
I completely agree with this. I was installing packages that hadn't been updated in forever and things were breaking. This would give _necessary_ visibility into the overall health of the package. 

[2015-04-24 05:21] zcbenz commented on #336
Fixed by https://github.com/atom/asar/pull/28.

[2015-04-24 05:21] #336 closed

[2015-04-25 13:43] pusateri commented on #282
This throw er; turns out to be the fact that apm is trying to download a binary package of node to run and freebsd isn't in the list of built packages.

http://nodejs.org/dist/v0.10.35/

% node ./script/download-node.js
http://nodejs.org/dist/v0.10.35/node-v0.10.35-freebsd-x64.tar.gz

If I'm running the script with node, why is the script downloading node?

[2015-04-26 19:37] rivy opened #347 "`apm dedupe` shouldn't require Visual Studio"
After installing Atom and the [`atom-beautify`](https://github.com/Glavin001/atom-beautify) package into an otherwise bare machine, I'm left with some exceedingly long file paths in the Atom package folder. These long paths are causing some of my other software (notably OneDrive) some difficulties.

So, to repair the issue, I attempted to use `apm dedupe` to condense the path, but I've run into th

[2015-04-26 20:22] TedThiCo commented on #322
Seems that node-gyp isn't following the 302 Redirect sent by atom.io.

@fujisaks Thanks for pointing to the problem!

I've been able to workaround the issue by setting the ATOM_NODE_URL env variable to the new url (after redirect ). This should also be working after you update Atom. However, remove the entry when the bug gets fixed!

**Windows**:
`set ATOM_NODE_URL=http://gh-contractor-zcbenz.s3.a

[2015-04-26 22:51] lee-dohm commented on #347
I suspect if you have native-compiled modules as part of the set of dependencies that Visual Studio may well be a requirement for installation of those packages, let alone deduping of the dependencies. You could ask that a package not depend on something that requires native-compiled code ... but that may mean that performance of that package would suffer.

So if a compiler is a requirement for in

[2015-04-27 02:36] anomaly256 opened #348 "[website] incomplete/empty search results from within Atom"
Hi, I just installed Atom fresh on a new host from the .deb package, v0.194.0, and there are no community packages listed at all in Themes or in Packages.  I tried searching for my own theme and got 0 results.  'apm install' is able to find and install the package however.  On another host where Atom is built from source, updated today to v0.194.0, after uninstalling my theme it again isn't showin

[2015-04-27 06:23] thomasjo commented on #348
Are you searching on the *Install* view, or *Packages*—the latter is **only** for packages actually installed on your system, whereas the former is for actually installing packages.

![settings_-__users_thomasjo_code_latex_-_atom](https://cloud.githubusercontent.com/assets/3622/7342597/bb0570a4-ecb6-11e4-8f8d-3dab1257a1cc.png)

[2015-04-27 07:13] anomaly256 commented on #348
Oh man how did I miss that.  Closing ticket..

[2015-04-27 07:13] #348 closed

[2015-04-27 09:18] okoetter commented on #322
Thanks TedThiCo, this workaround worked for me (Win7x64).

[2015-04-27 15:14] rivy commented on #347
I appreciate your thoughts on the matter. And, I agree, if a compiler is needed to install a package, it seems reasonable to require it for a dedupe operation (although I can see ways around that).

In this case, however, no compiler was used for installation of any of the atom packages. All of the packages were installed using the usual Atom install via the Settings page. No compiler was ever on

[2015-04-27 15:21] lee-dohm commented on #347
If all installed packages didn't require a compiler to install, then yes, it shouldn't be required for deduping them. I'm just making certain that you weren't objecting to the concept of a compiler being required *at all*.

I'm also concerned that we'll keep running into this problem with npm modules and Windows "long path" problem. Because from what I can tell npm installs dependencies of depende

[2015-04-27 22:03] rivy commented on #347
Yep, windows definately has an ugly problem (arguably, a full bug) working with long pathnames.

UNC pathnames can be used to work around the woefully short (~250 character) path limitation, but many current tools (including windows` CMD) are not, or are only partially compatible, with longer pathnames.

And the `npm` module installation / dependency strategy rams into that issue squarely. There's

[2015-04-27 22:08] kevinsawicki commented on #347
Sorry about this, this was meant to be removed in https://github.com/atom/apm/pull/141

Will push up a fix shortly.

[2015-04-27 22:09] #347 closed

[2015-04-27 22:15] kevinsawicki commented on #347
This will be fixed in the next Atom release 0.195, thanks for reporting it.

[2015-04-28 03:20] lee-dohm commented on #347
:+1:

[2015-04-28 05:00] dominicbarnes opened #349 "Include a command for testing if a package is already installed"
I was working on writing a little script to "provision" my local machine. This process includes installing atom and now I'm looking to add apm packages as well.

Currently, the best way I can figure to determine if a package has already been installed is something like:

[code]

Which is fine _usually_, but becomes less reliable if I'm talking about certain packages with "overlapping" names. (ie:

[2015-04-28 06:37] olegccc opened #350 "Unclear message"
Can anyone help me understand what this message means:

gyp info it worked if it ends with ok
gyp info using node-gyp@1.0.2
gyp info using node@0.10.35 | win32 | ia32
gyp http GET https://atom.io/download/atom-shell/v0.22.0/node-v0.22.0.tar.gz
gyp WARN install got an error, rolling back install
gyp

I am behind a proxy, it is configured right, "apm config get https-proxy" returns valid proxy addre

[2015-04-29 02:46] lee-dohm opened #351 "Add `apm deprecate` command"
The issue has come up a couple times where a package's functionality is subsumed by Atom, the author doesn't want to support a package anymore or other circumstances where a range of versions for a package no longer function, should be uninstalled (security, horrible bug discovered), or what have you.

The idea is to create an `apm deprecate` command that will:

1. Allow a package author to specif

[2015-04-29 02:50] lee-dohm commented on #351
Actually, that cumulative version range notation could get ugly. Probably best to emit a newline instead of `||`.

[2015-04-29 15:15] nixar commented on #322
It looks like the root cause of this problem has not been pointed out. Here's what going on:

    avril 29 17:12:24 <redacted> cntlm[10008]: 127.0.0.1 CONNECT atom.io:443
    avril 29 17:12:27 <redacted> cntlm[10008]: 127.0.0.1 CONNECT gh-contractor-zcbenz.s3.amazonaws.com:80

It looks like that when supplied an https URL that returns a redirect to an http address, apm uses a CONNECT method on the

[2015-04-29 23:15] dominicbarnes commented on #349
Another thought, an additional flag could be used to only output "missing" packages. (in conjunction with the aforementioned additional arguments)

For example, say I've installed `linter` but _not_ `linter-eslint`:

[code]

The only output would be for the packages that are missing.

[2015-05-01 00:36] mnquintana opened #352 "Add `apm commands` command"
It would be really awesome to have a command that could return a list of a packages' registered commands (and in multiple output formats). This would help a lot for Readme writing / possible Readme linting / automation in the future.

So something like:

`apm commands tree-view`

or even

`apm list --commands tree-view`

would return something like:

[code]

[2015-05-01 10:13] gaving commented on #322
:heart: @TedThiCo, that did the trick!

[2015-05-02 09:25] jacekkopecky opened #353 "testing with Atom API preview mode"
I can't seem to find a way to test package specs in Atom 1.0 preview mode. Should there be a command-line switch? Sorry if the answer's obvious and I'm missing it...

[2015-05-02 09:41] thomasjo commented on #353
Doesn't look like this is actually supported. Good catch.

[2015-05-02 16:02] lee-dohm commented on #351
An example of the kind of issue that this command can fix is https://github.com/atom/settings-view/issues/492. A version of my [indentation-indicator package](https://atom.io/packages/indentation-indicator) was published that allows installation on versions of Atom that did not have the v1.0 status-bar API, which is required by the version of the package. Since there are Atom users that do not fas

[2015-05-02 16:15] izuzak commented on #351
Could you also use `apm unpublish` to unpublish those versions which you don't want anyone to install anymore?

[code]

[2015-05-02 16:17] lee-dohm commented on #351
Ah ... didn't know that you could unpublish specific versions, thanks!

[2015-05-02 17:02] akaytatsu opened #354 "Unpublishing failed: Unauthorized, i not unpublish my package"
My package is dsl-progress (https://github.com/akaytatsu/dsl-progress).

i deleted the package from github, and then exec apm unpublish dsl-progress, but, this is not possible, the message is Unpublishing failed: Unauthorized

[2015-05-02 17:22] lee-dohm commented on #354
Yes, deleting the package from GitHub makes it impossible for the original repository owner to unpublish the package. I'll see if someone can take a look.

/cc @thedaniel

[2015-05-02 17:50] akaytatsu commented on #354
Please, because this name of package is very important, and the documentation and videos from this package been  generated and distributed

[2015-05-02 17:53] lee-dohm commented on #354
I can't guarantee anyone will be able to look at it before Monday.

[2015-05-04 14:03] akaytatsu commented on #354
then staff, help me solve this problem .

[2015-05-04 16:52] izuzak commented on #351
I think this is what @mnquintana wanted in https://github.com/atom/apm/issues/334 as well (we talked about that more in a different channel, so I'll let him correct me if I misunderstood).

[2015-05-04 16:52] izuzak commented on #334
Closing in favor of https://github.com/atom/apm/issues/351 which, if I remember correctly, is what @mnquintana really wanted here.

[2015-05-04 16:52] #334 closed

[2015-05-04 18:10] akaytatsu commented on #354
staff, i realy need help. Is possible the correction for this problem? The marketing of package is ready, and this release need to today. I count on yours. Thank's

[2015-05-04 18:54] mnquintana commented on #351
Yup, this is exactly the kind of thing I was looking for! I'll post more complete thoughts later, but for now here's how npm handles it for reference: https://docs.npmjs.com/cli/deprecate

[2015-05-05 12:21] akaytatsu commented on #354
someone?

[2015-05-05 13:13] akaytatsu commented on #354
/cc @thedaniel

[2015-05-05 17:38] thedaniel commented on #354
@akaytatsu I deleted the package in the database, sorry to keep you waiting! :bow:

[2015-05-05 17:38] #354 closed

[2015-05-05 18:59] francoislaberge opened #355 "Install Atom Packages from Git URLs"
Hi,

Am I missing something or can you not install atom packages from git repos?

We're developing an atom package that we don't want to go live with. We're currently requiring people to do the following:

  1. Run the following

        git clone <package-repo>
        cd package-name
        apm link .

  2. Get them to run in development mode for it to work.

If it's not supported. We believe i

[2015-05-05 19:34] akaytatsu commented on #354
@thedaniel the problem now is:

Registering dsl-progress done
Preparing and tagging a new version done
Pushing v0.2.0 tag Username for 'https://github.com': akaytatsu
Password for 'https://akaytatsu@github.com':
done
Publishing dsl-progress@v0.2.0 failed
Creating new version failed: Application error

[2015-05-05 20:08] thomasjo commented on #355
Remember to do `apm install` (e.g. after linking).

[2015-05-05 20:23] francoislaberge commented on #355
Thanks, good point. Will add to our documentation.

That doens't solve the issue of course. This is the error I get:
[code]

[2015-05-05 20:27] thedaniel commented on #355
He means:

[code]

Anyway, this is something that we'd like to have. The core team doesn't currently have it on the roadmap, but pull requests are welcome.

[2015-05-05 20:33] francoislaberge commented on #355
@thedaniel Yup. I understood that part. Thanks for answer too. Good to know people are open to it.

[2015-05-05 23:52] lee-dohm commented on #355
The `apm develop` command will also do *all* of the above steps for you from anywhere. It will clone the repository into a subdirectory of whatever you've defined as your `core.projectHome` setting and then do all the other administration as well.

[2015-05-06 05:09] pusateri opened #357 "--harmony_collections flag will need to be removed when apm supports node 0.12.x"
In the V8 javascript interpreter, the option --harmony_collections was removed because the functionality is no longer optional, it's always enabled beginning with V8 3.28.60 shown in this diff:

https://code.google.com/p/v8/source/diff?spec=svn22897&r=22897&format=side&path=/trunk/src/flag-definitions.h

This means that when trying to build APM with newer versions of node like 0.12.2 instead of th

[2015-05-06 06:50] RinatMullayanov commented on #322
@TedThiCo respect, It solved the problem.

[2015-05-06 13:07] akaytatsu commented on #354
@thedaniel help-me for this problem

[2015-05-06 13:48] lee-dohm commented on #354
@akaytatsu There are a lot of extra fields in your `package.json` which may be messing up the publishing process. You should take the information from your `package.json` and put it into this template:

[code]

[2015-05-06 15:44] akaytatsu commented on #354
Yes, i accert this package.json and the problem as solved! Thank`s, very thank. Please, close this report.

[2015-05-06 17:04] #353 closed

[2015-05-06 17:07] kevinsawicki commented on #353
Thanks so much for bringing this up, this will be included in the next Atom release, 0.197.0

[2015-05-06 17:25] mnquintana opened #358 "Add `apm disable / enable` command"
[There is currently no way to disable packages from the command-line](https://github.com/atom/language-html/issues/59#issuecomment-99542896) - we should add an `apm disable` command that can take one or more package names and disable them in Atom (as well as its counterpart, `apm enable`).

[2015-05-06 17:36] brennanMKE commented on #358
:+1:

[2015-05-07 21:33] kevinsawicki commented on #282
Closed by #360

[2015-05-07 21:33] #282 closed

[2015-05-08 02:19] simurai commented on #283
Not sure if it's the same issue, but I got the same error when trying to publish. `remote: Invalid username or password.`

After some googling I came across this: http://stackoverflow.com/a/21374369 which seemed to solve the issue. So if you have Two-factor authorization enabled, instead of entering your GitHub password, you have to generate a OAuth token and enter that one.

[2015-05-08 04:53] mike-pt commented on #282
This doesn't fix the issue completely for freebsd, it simply help understand better what happens (404 downloading node).

In practice the zlib issue is gone but compilation still fails for freebsd, and node is already installed anyway, if node is installed why even try to download it again?

If the error is 404 but node is installed apm build should proceed.

[2015-05-08 04:53] mike-pt commented on #282
Or the other way around... (test if node is installed first and only if not attempt to download it)

[2015-05-08 04:59] mike-pt commented on #282
Sorry for the spam, but I was looking at the what the ports are getting as a distfile, and it seems its "node-v0.xx.x.tar.gz", so maybe a good way to handle it would be to just check if its freebsd and download the tar.gz

So basically if its "freebsd" remove "process.platform", I could make a PR for that change if it sounds reasonable?

[2015-05-08 12:12] pusateri commented on #282
Yes, this is a baby step. I hope we can make it fall back to the native version. In the mean time, use this patch:
https://gist.github.com/pusateri/a5283313fdbef9922ce6#file-package-json-diff

[2015-05-08 16:09] mike-pt commented on #282
Sounds ok, I'm my case I had to use ln -s instead of creating a hard link but this is a nice workaround for now.

[2015-05-08 16:24] pusateri commented on #282
Yeah, mine is one big ZFS tank. I'll change that diff to use a symbolic link.
After building amp, checkout atom and apply this patch:
https://gist.github.com/pusateri/eb98a25e3ae45309aed7#file-freebsd-atom-diff

This will point atom at the patched apm.
minidump is for creating crash dumps. We can live without it for now.
And 'rm build/tasks/dump-symbols-task.coffee' for now.

[2015-05-08 16:41] mike-pt commented on #282
Ok, will try that now, btw bin/apm is using the /bin/bash shebang... probably best to use "#!/usr/bin/env bash"

as not all os have bash in the same place, and in freebsd its installed to /usr/local/bin so it would fail.

[2015-05-08 17:18] pusateri commented on #282
Yes, using env is good practice.
apm install doesn't seem to be doing anything:
[pusateri@dark ~/src/atom/apm]$ ../../apm/bin/apm install

but dedupe seems happy:
[pusateri@dark ~/src/atom/apm]$ ../../apm/bin/apm dedupe
Deduping modules ✓

[2015-05-09 16:54] izuzak opened #363 "Warn users when publishing packages with empty descriptions or no keywords"
Motivation: https://github.com/atom/deprecation-cop/issues/32

cc @lee-dohm

[2015-05-09 17:00] lee-dohm commented on #363
Great idea! I'm thinking something like, "WARN: Consider (filling in the description field | adding some keywords) in the package.json to help people (understand | find) your package better"

[2015-05-12 15:17] YuriSolovyov commented on #157
+1. packages do break sometimes, though, [simple roll back can help](https://github.com/richrace/highlight-selected/issues/67#issuecomment-101297673) and you even don't have do disable anything.

[2015-05-12 19:34] noseglid opened #364 "apm publish gives Application Error"
Not sure if this is where this issue should go. Please direct me to the correct forum otherwise.

I get this:
[code]

I've debugged a little, and it appears I get `500 Internal Server Error` from the API. So likely something is off with whatever `apm` communicates with.

[2015-05-13 00:30] lee-dohm commented on #364
Have you done an `apm login` to make sure that it has your credential?

[2015-05-13 06:06] noseglid commented on #364
Yes I have. This is the 32nd release of this package I am doing from the exact same setup.

[2015-05-13 18:41] noseglid commented on #364
(I don't really think it's a problem with `apm`. The request for publishing looks fine from what I can tell. It's likely to be something with the service running at `atom.io`)

[2015-05-13 18:58] thedaniel commented on #364
Yeah any time atom.io 500s it's a concern. I'll look into it when I have a moment.

[2015-05-14 00:11] cs150bf commented on #364
I'm also seeing "Application Error". Tagging and pushing went okay. The new release (`v0.1.2`) shows up just fine on [the releases page of my git repo](https://github.com/cs150bf/ever-notedown/releases), but not on the [atom.io package page](https://atom.io/packages/ever-notedown) as it still says `v0.1.1`.

[2015-05-14 08:43] noseglid commented on #364
Not sure if this helps. I engineered the request using `cURL`.

[code]

If there's anything else I can do, let me know.

[2015-05-14 19:07] thedaniel commented on #364
Thanks for the details - I haven't fixed this yet, but I want to give an update; I see the failed requests in the server logs, but not in our internal exception tracking system, which makes it a little more difficult to reproduce. I'll update this thread when I know more.

[2015-05-14 21:31] noseglid commented on #364
It is happend **every** time I try to publish `v0.32.0` for the `build` package. You're welcome to publish it as a means to reproduce it. And if you succeed, it's all good!

[2015-05-15 06:01] thedaniel commented on #364
@noseglid strangely enough, there was a version 0.32.0 in the DB pointing to [this commit](https://github.com/noseglid/atom-build/commit/fb265b35598ff429528996a394a15a299f938287) from 2 weeks ago, that was created the same day as that commit's date. After I deleted that row from the DB, I was able to re-import a new v0.32.0 from the same tag: https://atom.io/packages/build

I'm not sure how it hap

[2015-05-15 06:52] noseglid commented on #364
@thedaniel Aha! I might be able to  give some insight on that.

I did `apm publish` (on `0.31.0`) without the proper proxy/socksify connections set, which pushed the tag to github but never succeeded in publishing the package (from what I gathered at least).

I fixed the proxy settings and did another publish which succeeded (but this time it accidentally became v0.32.0).

Realizing my mistake, I

[2015-05-15 10:45] jerone commented on #72
I'm have my own `CHANGELOG.md` file, that I update with every new feature (not just before publishing package). Because I don't know the semver until I have published, I use `nNext` as the unreleased version tag. I was hoping apm could replace that string on publishing, just like it does with `version` in `package.json`.

[2015-05-15 14:46] jessegrosjean opened #365 "Should `apm publish` confirm before pushing?"
Maybe it's just me, but I've twice published unintentionally in the last 2 days.

I run `apm test` a lot in my terminal, and use up arrow to get that command from the history to turn it. So the problem happens when I do `apm publish`. After then I normally go eat lunch or something... then come back and start-off by running my specs the normal way... except `apm publish` gets run instead since tha

[2015-05-15 15:42] lee-dohm commented on #72
@abe33 has a tool for easily updating `CHANGELOGs`: https://github.com/abe33/changelog-gen

[2015-05-16 21:47] akaytatsu opened #366 "problem with update package"
I have a problem.

I made a mistake and changed the package.json file, but specifically tagged " repository" for "url " and commit it. Now all they have after my package fail to update . The problem is precisely because of the TAG . Ja correct , but around 25 people already downloaded the package and fail to update . I can fix this remotely? Or they will have to update manually?

[2015-05-18 14:20] tonka3000 commented on #322
Thanks @TedThiCo, you just made my day :-)

[2015-05-19 03:40] smlombardi opened #367 "AngularJS package listed on repo as 0.2.0, but 0.1.0 installs"
I noticed this when checking deprecation cop.  It seemed that some items were fixed in 0.2.0, but when I checked Atom I saw I had 0.1.0.  I tried deleting and re-installing, too.

This is Atom .199 on Mac.

See also this thread: https://discuss.atom.io/t/deprecated-package-version-question/16966/2

[2015-05-19 03:52] lee-dohm commented on #367
/cc @thedaniel

[2015-05-19 12:18] searpro commented on #338
try
    apm set strict-ssl false
This solved my issue on windows machine

[2015-05-20 01:43] #268 closed

[2015-05-20 23:01] magalhas commented on #364
I'm having the same symptoms with the `jenkins` package for over a month. I've tried different machines, `apm` setup is fine.

[2015-05-27 13:42] nbigaouette commented on #322
Thanks! @TedThiCo Had this issue since day 1 of using Atom (0.179?)
Was able to update my packages.

    $ apm --version
    apm  0.167.0
    npm  2.5.1
    node 0.10.35
    python 2.7.9
    git 2.3.4

[2015-05-28 16:39] kangw3n opened #368 "unable to update atom-beautify"
Hi, I'm newbie in web development, I've using atom for quite a bit of time, but recently encounter a bit of problem while updating to the latest version of beautify.

Here is the output error:

    npm ERR! Failed to clone git+https://github.com/ariya/esprima.git#a41a40b49046747b3af57341cda048bbd3d9df79 from https://github.com/ariya/esprima.git Cloning into 'C:\Users\WEITOC~1\AppData\Local\Temp\np

[2015-05-30 08:42] varemenos commented on #170
:+1:

[2015-06-01 09:15] wzxu commented on #322
@nixar Got a workaround or opened issue on related repos for that problem? I've tried the workarounds from both @noseglid and @TedThiCo, and still it fails when I tried to install atom-ctags. Other packages updated just fine.

It made request to atom.io:
[code]

Got redirected:
[code]

Then eventually got stuck on the request to `http://gh-contractor-zcbenz.s3.amazonaws.com/atom-shell/dist/nan-1.6

[2015-06-02 15:43] beardedprojamz commented on #221
I don't know if anyone is manually deleting packages - but I have one - https://atom.io/packages/debugger-lines that also can not be unpublished because I removed the repo before unpublishing.

[2015-06-02 17:55] thedaniel commented on #221
This week I'll go through and manually remove packages and fix up everything that might need fixing up in the database all at once.

[2015-06-02 22:30] ekonstantinidis opened #370 "Publish new package failed."
@thedaniel I tried to publish a package with `apm publish minor` and got this:

    Saving token to Keychain ✓
    Registering css-edit-groups ✓
    Preparing and tagging a new version ✓
    Pushing v0.5.0 tag ✗
    remote: Invalid username or password.
    fatal: Authentication failed for 'https://github.com/ekonstantinidis/css-edit-groups.git/'

Also in the atom/packages page the repo looks "emp

[2015-06-03 07:50] ekonstantinidis commented on #370
@thedaniel I figured it out! Unpublished & published again. It probably had to do with my GitHub credentials so now it works great!
![screen shot 2015-06-03 at 08 49 35](https://cloud.githubusercontent.com/assets/6333409/7955112/7e3c24ae-09cd-11e5-8b63-eb00dd6f34f2.png)

[2015-06-03 07:50] #370 closed

[2015-06-04 06:56] mz-gh commented on #322
Hi!

Same issue here, only with atom-ctags. I could update other packages just fine.

Cheers!

[2015-06-06 17:43] magalhas commented on #364
What's the status on this? Atom 1.0 is almost out and I can't release my updated package without deprecated APIs.

[2015-06-08 18:47] thedaniel commented on #364
Sorry about this, I'll take a look at it.

[2015-06-08 20:00] Glavin001 opened #372 "Run `prepublish` script from package.json on apm publish"
Applicable `apm` code: https://github.com/atom/apm/blob/6c94d96f5d640a51d49a41e2e1d1aa47310516e8/src/publish.coffee

I would like to use the `prepublish` script in `package.json` file, as described by `npm`, to generate my documentation before publishing. See https://github.com/Glavin001/atom-beautify/blob/master/package.json#L150

This currently does not work / is not a feature. Is this something

[2015-06-08 23:45] kevinsawicki commented on #372
Yeah, this issue has come up before as something that would be great to eventually have first-class support for.

:+1:

There is a `publish-spec.coffee` already so I'd say add new specs there, and add a simple package fixture that includes a `prepublish` script.

Also this will require doing a `git commit` after running the script right? Since the built assets will need to be part of the repositor

[2015-06-09 07:33] varemenos opened #373 "apm uninstall --built-in"
Can we have a command that uninstall all the built-in packages that were installed by the user?

[2015-06-09 07:38] izuzak commented on #373
@varemenos Can you clarify what a "built-in package installed by the user" is? If it's built in, how is it installed by the user? :confused: An example might be helpful as well.

[2015-06-09 07:48] thomasjo commented on #373
I guess he means if someone has erroneously installed e.g. `tree-view` by doing `apm install tree-view`. The user is warned during install however, so I don't think implementing the requested command is truly justified—this is primarily an educational concern, not a technical one.

[2015-06-09 07:49] varemenos commented on #373
There are times when you accidentally (or intentionally) you install packages that are already bundled with Atom, if you try to do it, apm tells you to uninstall the package but that works if you installed one of two things. There should be a way to remove all packages the user installed that are already bundled

![screenshot 2015-06-09 10 47 33](https://cloud.githubusercontent.com/assets/626343/8

[2015-06-09 07:52] thomasjo commented on #373
Although, if someone submits a PR for this functionality, I would not be opposed to merging it.

[2015-06-09 08:31] magalhas commented on #364
@thedaniel let me know

[2015-06-09 10:02] varemenos commented on #373
@thomasjo I will try to send a PR

[2015-06-09 10:05] thomasjo commented on #373
@varemenos Awesome! Feel free to ping/cc me from the PR if you want some :eyes: on it, or otherwise.

[2015-06-10 21:53] thedaniel commented on #364
@magalhas i see the errors in our exception tracking system, but I also notice that the version (0.3.2) in package.json on master matches the latest version here: https://atom.io/packages/jenkins

Is it possible that the package published successfully even though there was an error?

[2015-06-10 21:59] thedaniel commented on #364
@magalhas exactly what apm command are you running?

[2015-06-10 23:09] magalhas commented on #364
`apm publish patch`. After getting the application error message I've also tried unpublishing but it says that the version is not found.

[2015-06-11 00:37] thedaniel commented on #364
@magalhas I see an unpublished 0.3.3 in the db and some deleted tags in GitHub staff tools. The API won't let you unpublish a version and then publish the same one with a different tag - force pushing & deleting history in general leads to some unfortunate behavior in the atom.io API as it's closely tied to the GitHub repo. You can likely publish 0.3.4 though. I'm working on a fix for the API that

[2015-06-11 10:15] magalhas commented on #364
@thedaniel I was able to publish v0.3.4 as you've stated, though not being able to publish v0.3.3 is still harsh to understand for me. Thank you for your feedback :+1:

[2015-06-11 16:32] Glavin001 commented on #372
Here is `publish` from `npm`: https://github.com/npm/npm/blob/180da67c9fa53103d625e2f031626c2453c7ebcd/lib/publish.js#L74
And `publish` specs: https://github.com/npm/npm/blob/180da67c9fa53103d625e2f031626c2453c7ebcd/test/tap/prepublish.js

I think you're right.

`npm` does not deal with `git` and just flows down the lifecycle: https://github.com/npm/npm/blob/180da67c9fa53103d625e2f031626c2453c7ebc

[2015-06-11 16:47] Glavin001 commented on #372
**These notes are mostly for me and any others not familiar with `npm` and `apm` internals. I like to document my research in Issues before I start development. Please correct me on *anything* that I missed. Thanks!**

Here is `publish` from `npm`: https://github.com/npm/npm/blob/180da67c9fa53103d625e2f031626c2453c7ebcd/lib/publish.js#L74
And `publish` specs: https://github.com/npm/npm/blob/180da6

[2015-06-11 23:01] kankaristo commented on #315
This just happened for me too.

I ran `apm publish patch`, it edited `package.json`, committed, created the tag, and then:
- it asked for username/password
- pushed the tag (the tag was successfully pushed to the server)
- ...and then just hangs.

I had to reset the commit, force push, delete the local tag and delete the tag on the server. I even ran `apm publish patch` twice, and it created 2 tag

[2015-06-14 04:46] sulliwane opened #375 "npm ERR! Failed resolving git HEAD when installing package."
Here is my apm version output:
[code]

and here is the error when I try installing go-plus:

[code]

thank you for your help!

[2015-06-14 12:20] Glavin001 commented on #351
How are developers currently showing those deprecation warning messages for Atom API 1.0? I've noticed that a lot, that packages now show messages recommending other packages.

[2015-06-15 03:58] jlord commented on #312
@deepak1556 Just to confirm, you were able to successfully build but don't have an ARM system?

I've been able to build apm with iojs but am stuck because there is no atom-shell/electron 32 bit ARM build :link: https://github.com/atom/electron/issues/366

[2015-06-15 06:44] deepak1556 commented on #312
@jlord nope dont have an ARM system, was just building on different node versions on supported platfroms of electron (did try only on linux at that time) .

[2015-06-15 13:54] sulliwane commented on #375
It is a cache problem with npm. I solved it with a dirty trick by adding a / at the end of the url that makes problem, so it will bypass the cache.

npm can do "npm cache clean", is there a way to clean the cache with apm ? And btw where is apm's npm and apm's node installed ?

[2015-06-15 19:20] hacdias opened #378 "Remove theme spaceship-ui"
Hello!

I've created a theme some months ago but I want to unpublish it (spaceship-ui, https://atom.io/themes/spaceship-ui). I have deleted the repository, but I can't unpublish it. I receive the following error:

[code]

I just you to say me how to resolve this or if you can remove it for me, please.
Have a nice day ;)

[2015-06-16 00:20] raulsouzalima commented on #322
@TedThiCo's trick works on Mac too.

[2015-06-16 05:43] thedaniel commented on #378
I'll take care of it, thanks!

[2015-06-16 05:43] #378 closed

[2015-06-16 11:53] hacdias commented on #378
Thanks ;)

[2015-06-16 17:58] martineboh opened #379 "Atom won't connect via Proxy"
Atom doesn't connect when am using a proxy. shows "read ECONNRESET" during package installation.

[2015-06-16 18:00] izuzak commented on #379
@martineboh Have you set up apm to use the proxy? Check out [these instructions](https://atom.io/docs/v0.209.0/getting-started-installing-atom#setting-up-a-proxy) and let us know if that doesn't help.

[2015-06-16 18:24] bolinfest commented on #312
It's pretty hard to install Node v0.10 these days. Anyone who has installed it recently has Node v0.12.

I just want a version of Node bundled with apm that supports `yield`, so I don't care too much whether it's io.js or Node v0.12.

Admittedly, I see that [`keytar`](https://github.com/atom/node-keytar) has native dependencies, but the code is small, so hopefully that is easy enough to build cros

[2015-06-16 20:20] martineboh commented on #379
Thanks! Now working.

[2015-06-16 21:18] #379 closed

[2015-06-18 14:31] mnquintana opened #380 "apm publish --rename pushes new name to atom.io database even if validations fail"
Steps to reproduce:

1. Manually change the name of the package in the `name` field of `package.json` (e.g. `new-name-of-package`)
1. Commit and push your changes
1. Run `apm publish --rename new-name-of-package`
1. Rename / publish will report as successful, but there will be a validation error (because `apm publish --rename` requires a different name from what is defined in `package.json`)

Not

[2015-06-18 16:22] kmorey commented on #364
I'm having this issue with my package as well this morning. How can I resolve it?

[2015-06-20 18:04] bnb opened #381 "apm is not installed on Windows, no "Install Shell Commands" option"
I'd like to start using apm to install Atom packages more easily, but I get an error saying the system doesn't recognize the apm command. I followed the instruction listed several places to go to Atom > Install Shell Commands, but there's nothing called Atom, and assuming, that "File" would be akin to OS X's "Atom" menu, it's not in the File menu. Any ideas on how I can get apm installed?

[2015-06-21 00:58] 50Wliu commented on #381
`Atom > Install Shell Commands` is only available on Mac.
How did you install Atom?  If you used the new Squirrel installer (the one on atom.io), it should have installed `apm` automagically for you.

[2015-06-21 03:07] bnb commented on #381
@50Wliu I installed via the Windows installer on atom.io. I've been having problems with Atom not installing how it should, and I don't know if this is another symptom of that. I previously had the Chocolaty version, and uninstalled and deleted all Atom files, but I'm still experiencing issues.

[2015-06-21 17:43] mnquintana opened #382 "apm --version should also list Atom version"
It's often helpful for debugging to know what version of Atom is being used with `apm`.

[2015-06-23 14:33] schwaerz commented on #322
Hi,

Same issue(s) here. First one I could solve using the workaraound proposed by @TedThiCo (Thanks!).
However I still get the error about nan-1.6.1.tgz when trying to install e.g. markdown-preview-plus.
Hope this issue gets fixed soon.

Thanks.

Cheers

[2015-06-24 10:56] jstonne commented on #174
I'm working behind a corporate firewall where everything needs to goes through a corporate proxy server. However, any hostname that doesn't have a "." in it will be granted direct access.

Therefore, I needed to rewrite everything from "http://atom.io" to "http://atom_io", including npm registry's which is proxied via "http://atom_io/npm".

Doesn't matter if your situation is the same as mine. As

[2015-06-25 12:51] pierr commented on #322
Thanks

[2015-06-25 15:19] ppalladino commented on #322
Thanks @TedThiCo your solution worked!

[2015-06-25 17:32] ArtnerC commented on #322
Using @TedThiCo solution with https solved my problem. Pretty sure the redirecting from secure to insecure was getting blocked by my work network.

[2015-06-26 13:11] k5e opened #384 "Installing packages fails every time"
According to [leedohm](https://discuss.atom.io/users/leedohm) on [discuss.atom.io](https://discuss.atom.io/t/installing-packages-fails-every-time-windows-8-1-atom-1-0/17990):

- Windows 8.1
- Atom 1.0.0

Every attempt to install a package fails:
![apm-error](https://cloud.githubusercontent.com/assets/606885/8377638/25167af2-1c13-11e5-9d49-e307f88ffba7.png)

I performed tho following checks:
[code]

[2015-06-26 13:18] batjko commented on #384
Well done for all the analysis so far! That's an excellent issue report.

Now, the node-gyp error often indicates an issue with visual studio. Which version do you have installed (Desktop or Web for example).
Can you otherwise try to install the ,NET 3.5 framework?

[2015-06-26 14:11] k5e commented on #384
Thank you for the flowers ;-)

I have installed _Visual Studio Express 2013 for Windows Desktop (with Update 4)_, as indicated in the [docs](https://github.com/atom/atom/blob/master/docs/build-instructions/windows.md).
There is no .NET 3.5 on the PC, but 4.5 and 4.5.1. Is 3.5 really necessary?

[2015-06-26 14:12] batjko commented on #384
I think 3.5 includes 2.0 which is neede by node-gyp, but normally the VS tools for Desktop have all that anyway.

What about Python 2?

[2015-06-26 14:28] k5e commented on #384
Hmm, I have used nmp (and thus node-gyp) often before (outside of apm) and it never complained about missing .NET 3.5 or 2.0.
Python is 2.7.9

[2015-06-26 14:31] batjko commented on #384
Well that's the end of my Latin then.
Let's see if someone from the core team can help, once they a breathing moment after the CodeConf today.

[2015-06-26 14:38] k5e commented on #384
OK. Thank you so far.

Week-end is about take off soon and at home I use Linux. So there is no need to hurry.

Take care
Christian

Am 26. Juni 2015 16:31:49 MESZ, schrieb Patrick Metzdorf <notifications@github.com>:

[2015-06-26 15:02] jwerre commented on #303
:+1:

[2015-06-26 18:45] kubetz commented on #384
This is duplicate of https://github.com/atom/apm/issues/322 .

I had the same issue and [this hotfix](https://github.com/atom/apm/issues/322#issuecomment-96430856) worked for me.

The issue seems to be caused by the node-gyp following redirect when downloading `node-v0.22.0.tar.gz` but forgetting about proxy settings.

[2015-06-26 18:49] batjko commented on #384
Thanks @kubetz  :+1:

[2015-06-27 04:59] sulliwane commented on #375
I still can't get go-plus plugin working on my **Ubuntu 14.04** computer with **atom 1.0**. Everytime I try to install it ends up with this **npm error**:

    Installing “go-plus@3.3.12” failed.Hide output…
    npm ERR! Failed resolving git HEAD (https://github.com/joefitzgerald/atom-message-panel.git) fatal: ambiguous argument 'go-plus': unknown revision or path not in the working tree.
    npm

[2015-06-29 03:24] treydavis commented on #355
If apm packages are just GitHub repos, why not support:
[code]

[2015-06-29 08:17] k5e commented on #384
Thank @kubetz.
the workaround did help:
[code]
I am going to close this an I hope for a solution in #322

[2015-06-29 08:17] #384 closed

[2015-06-29 11:53] jokeyrhyme commented on #179
I can confirm that the following resolves Python3-related issues with apm:

[code]

[2015-06-29 14:47] francoislaberge commented on #355
It'd be nice if worked with the exact same behavior as npm, which means supporting any remote git server, thus allowing the private development of plugins/modules before launch or even as a way to distribute private plugins (useful for internal tools that haven't been cleared for public use yet or never will)

[2015-06-30 04:29] simurai commented on #303
This is already possible on atom.io, but kinda hidden and not that obvious:

1. Click on the "See all" link
![screen shot 2015-06-30 at 1 23 55 pm](https://cloud.githubusercontent.com/assets/378023/8423875/6a21c42e-1f2b-11e5-8efb-5a0a12b18fd2.png)

2. Then change to "Most Downloads"
![screen shot 2015-06-30 at 1 24 21 pm](https://cloud.githubusercontent.com/assets/378023/8423877/7eb0af36-1f2b-11e5

[2015-06-30 13:08] promek opened #386 "Unpublishing Problem"
My package is wombat-px (https://github.com/promek/wombat-px).

i deleted the package from github, and then exec apm unpublish, but, this is not possible, the message is Unpublishing failed: Unauthorized

[2015-06-30 13:11] mnquintana commented on #386
/cc @thedaniel

FWIW, there is [documentation warning against deleting repos](https://atom.io/docs/latest/behind-atom-maintaining-your-packages#unpublish-your-package) before unpublishing.

[2015-06-30 14:11] boustanihani commented on #303
The "See all" link disappears when you search for something, there is still no way to sort search results...

Currently you can only sort all packages without filtering...

[2015-06-30 23:21] simurai commented on #303
@boustanihani I see, I missed the "search results" part.

[2015-07-01 14:19] promek commented on #386
Hi,  wombat-px project and got a completely different structure of the two different names,
new ones: wombat-light-syntax and wombat-dark-syntax
I need to delete wombat-px. Many people are still using it.
Could you please help me solve?

[2015-07-01 21:57] thedaniel commented on #386
Sure, I'll remove it for you.

[2015-07-01 21:58] #386 closed

[2015-07-02 10:35] kultom86 commented on #381
Hi,

Would just like to add to this and say I'm also experiencing this issue.
Used the installer from Atom.io, version 1.0.0.

Windows 7. apm does not show up when doing echo %path% (dont know if it should).

[2015-07-02 23:35] bronson opened #389 "apm enable/disable aren't implemented?"
I'd like to enable and disable packages from the command line.  (mostly, disabling 8 packages from the Settings View gets tedious quick).

Is there a reason apm doesn't support enabling and disabling packages?  If someone banged together a PR that implemented these commands, would it be likely to get merged?

[2015-07-03 05:25] mnquintana commented on #389
Thanks for the suggestion! This is a duplicate of https://github.com/atom/apm/issues/358 – please subscribe there for updates.

[2015-07-03 05:25] #389 closed

[2015-07-03 08:15] 4rlekin opened #390 "Uninstalling packages is working in a very crude way"
I stumbled upon this issue today, trying to incorporate save-commands package into my Atom.
Due to certain amount of problems with mentioned package i decided to uninstall it. And well... the "uninstall" button gives no feedback at all about whether it worked or not - it does uninstall though, but then again refreshing of installed packages works unpredictable, usually had to restart atom.
I got s

[2015-07-03 11:50] mnquintana commented on #390
This is a duplicate of https://github.com/atom/settings-view/issues/529 – please subscribe there for updates.

(Also, this belongs on [atom/settings-view](https://github.com/atom/settings-view), not [atom/apm](https://github.com/atom/settings-view).)

[2015-07-03 11:50] #390 closed

[2015-07-03 16:00] izuzak opened #391 "apm unlink <package_path> doesn't work for numeric package names"
I have a linked package, called `123453543534` :stuck_out_tongue_winking_eye::

[code]

`apm unlink` doesn't work if I pass the package's name (it works for other packages which have at least one non-digit character):

[code]

Unlinking with `apm unlink .` works fine :white_check_mark: :

[code]

[2015-07-04 22:44] bronson commented on #358
It's possible to do manually: https://github.com/atom/atom/issues/5987#issuecomment-84129975

But, I agree, :+1: for `apm disable`.

[2015-07-05 22:08] jonasws opened #393 "Cannot register package."
I have been trying for a while to publish my package [github-utils](https://github.com/jonasws/github-utils), but I keep getting the following error when I try to run `apm publish minor`
[code]

I do indeed have access to the repo. I have tried to do `apm login`. Is something at fault with my Atom.io account user? Any comments would be greatly appreciated!

[2015-07-06 18:01] izuzak commented on #393
Sorry to hear you're having trouble, @jonasws.

What does this mean? Have you tried and succeeded or tried and failed? Could you provide the full output of all apm commands you ran (including the commands themselves), and the contents of your local package.json?

[2015-07-07 06:23] jonasws commented on #393
It does indeed look as if I've succeeded in authenticating with `apm login`. (I also opened up the `node`console in the `apm` build directory in order toverify that the `keytar.findPassword` call returned the correct token).

The commands are posted below:
[code]

The contents of my `package.json` may be found  [here](https://github.com/jonasws/github-utils/blob/develop/package.json)